<ion-view class="activateMember" view-title="{{title}}" hide-back-button="true">

    <!-- <ion-nav-title style="font-size: 18px;display: block; width: 100%">
    Activate Virtual Membership<br/>Account
   </ion-nav-title> -->
    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="showRegisterLanding()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-content class="login padding">
        <script id="templates/form-errors.html" type="text/ng-template">
            <div class="form-error" ng-message="required">This field is required.</div>
            <div class="form-error" ng-message="minlength">This field must be 8 numeric numbers.</div>
            <div class="form-error" ng-message="maxlength">This field is must be 10 characters.</div>
            <div class="form-error" ng-message="email">You did not enter a valid email.</div>
            <div class="form-error" ng-message="notanumber">This field requires a numeric input.</div>
            <div class="form-error" ng-message="notastring">This field requires an alpha only input.</div>
            <div class="form-error" ng-message="invalidserial">Invalid Serial #.</div>
            <div class="form-error" ng-message="passwordVerify">Password does not match.</div>
        </script>
        <form name="activateform" ng-submit="doActivation(activateform)" novalidate="">
            <div class="list ">
                <label class="item item-input item-floating-label row">
        <div class="col">
  		    <span class="input-label">NRIC / FIN/ Passport *</span>
  		    <input type="text" name="nric" placeholder="NRIC / FIN / Passport *" ng-model="activateData.nric" ng-click="hideKeyboard()" required>
        </div>
		  </label>
                <div class="form-errors" ng-show="activateform.nric.$error && activateform.$submitted" ng-messages="activateform.nric.$error" ng-messages-include="templates/form-errors.html"></div>

                <label class="item item-input item-floating-label row">
        <div class="col">
  		    <span class="input-label">Email *</span>
  		    <input type="email" name="email" placeholder="Email *" ng-model="activateData.email" ng-click="hideKeyboard()" required>
        </div>
		  </label>
                <div class="form-errors" ng-show="activateform.email.$error && activateform.$submitted" ng-messages="activateform.email.$error" ng-messages-include="templates/form-errors.html"></div>

                <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">Contact *</span>
          <input type="tel" name="contact" placeholder="Contact *" ng-model="activateData.contact" required>
        </div>
      </label>
                <div class="form-errors" ng-show="activateform.contact.$error && activateform.$submitted" ng-messages="activateform.contact.$error" ng-messages-include="templates/form-errors.html"></div>
                <!-- <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">Date of Birth *</span>
          <input type="date" name="dob" placeholder="Date of Birth *" ng-model="activateData.dob"  required>
        </div>
      </label>
      <div class="form-errors" ng-show="activateform.dob.$error && activateform.$submitted" ng-messages="activateform.dob.$error" ng-messages-include="templates/form-errors.html"></div>
      <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">Email *</span>
          <input type="email" name="email" placeholder="Email *" ng-model="activateData.email"  required>
        </div>
      </label>
      <div class="form-errors" ng-show="activateform.email.$error && activateform.$submitted" ng-messages="activateform.email.$error" ng-messages-include="templates/form-errors.html"></div> -->

            </div>
            <div class="tnc padding">
                <!-- <input id="activate_agree" type="checkbox" name="iu_active_selected" ng-model="activateData.agree" value="checked" >
        <label for="activate_agree" class="agreement">I Agree to the <a href="">Terms & Conditions</a></label> -->
                <input id="activate_agree" type="checkbox" name="agreement_chk" ng-model="activateData.agree" value="checked" required>
                <label for="activate_agree" class="agreement"></label>
                <div class="agreement">I Agree to the <a ng-click="gototnc()"><u>Terms & Conditions</u></a></div>
                <div class="form-errors" ng-show="activateform.agreement_chk.$error && activateform.$submitted" ng-messages="activateform.agreement_chk.$error" ng-messages-include="templates/form-errors.html"></div>
            </div>
            <!-- <ion-checkbox name="agreement" ng-model="activateData.agree" required>I Agree to the <a href="">Terms & Conditions</a></ion-checkbox> -->

            <button type="submit" class="button button-full ion-btn ion-action-btn">Next</button>

        </form>

    </ion-content>
    <ion-digit-keyboard settings="keyboardSettings" ng-show="keyboardVisible"></ion-digit-keyboard>
</ion-view>