<ion-view view-title="" class="carpark_dollar" hide-back-button="true">
<style>
  [nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar
  {
    background: white !important;
  }
</style>
	<ion-nav-buttons side="left">
      <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
     <ion-nav-title>
      Transfer Points

    </ion-nav-title>
    
  <ion-content class="padding" has-bouncing="false">
   <script id="templates/form-errors.html" type="text/ng-template">  
        <div class="form-error" ng-message="required">This field is required.</div>
        <div class="form-error" ng-message="minlength">Minimum 6 digits.</div>
        <div class="form-error" ng-message="maxlength">Maximum length 6 digits.</div>
        <div class="form-error" ng-message="email">You did not enter a valid email.</div>
        <div class="form-error" ng-message="notanumber">This field requires a numeric input.</div>
        <div class="form-error" ng-message="notastring">This field requires an alpha only input.</div>
        <div class="form-error" ng-message="invalidserial">Invalid Serial #.</div>
        <div class="form-error" ng-message="compareTo">Password does not match.</div>
        <div class="form-error" ng-message="pattern">Invalid characters found.</div>
    </script>
    
     <div class="content">
      <div class="innercontent">
        <div class="points">
          <div class="left">
            ION<sup>+</sup> Points
          </div>
          <div class="right">
            {{profile.ion_points_curr_cycle + profile.ion_points_prev_cycle}}
          </div>
        </div>

        <div class="points">
          <div class="left">
            Carpark $ 
          </div>
          <div class="right">
            
            ${{cp| number: 2}}
            
          </div>
        </div>
      </div>
     </div>

     <form name="transferform" ng-submit="doTransfer(transferform)" novalidate="">
     <div class="secondcontent">
      <div class="innercontent">
        <div class="activeiu">
         <!--  <p>Transfer ION<sup>+</sup> Points to Carpark $</p>
         
          <select class="selectiu" ng-model="transfer_points.iu_no" >
            <option ng-repeat="iu in ius track by $index" value="{{iu.iu_no}}" >{{iu.iu_no}}</option>
          
          </select>
 -->
          
            
            <div class="list padding">
            <div class="item item-input item-floating-label row">
              <div class="col">
                <span class="input-label" style="padding-top:10px;">Enter Point(s)</span>
                <input type="tel" name="points"  ng-pattern="/^[0-9]*$/" inputmode="numeric" placeholder="Enter Point(s)" ng-model="transfer_points.points"  required>
              </div>
            </div>
           
           <div class="form-errors" ng-show="transferform.points.$error && transferform.$submitted" ng-messages="transferform.points.$error" ng-messages-include="templates/form-errors.html"></div>
           </div>
        
           <div class="list padding">
            <div class="item item-input item-floating-label row">
              <div class="col">
                <span class="input-label">Enter Password</span>
                <input type="tel" class="pwd" name="password"  ng-pattern="/^[0-9]*$/" inputmode="numeric" minlength="6" placeholder="Enter Password" ng-model="transfer_points.password"  limit-to="6" required>
              </div>
            </div>
           <div class="form-errors" ng-show="transferform.password.$error && transferform.$submitted" ng-messages="transferform.password.$error" ng-messages-include="templates/form-errors.html"></div>
           </div>

        </div>
      </div>
     </div>

      <button type="submit" class="button button-full ion-btn ion-action-btn">Submit</button>
    </form>
    
  </ion-content>
</ion-view>