<ion-view view-title="{{(isFirstLogin=='yes')?'Reset Password':'Change Password'}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="backView()">
        <img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-content class="login padding">
        <script id="templates/form-errors.html" type="text/ng-template">
            <div class="form-error" ng-message="required">This field is required.</div>
            <div class="form-error" ng-message="minlength">Minimum length 6 digits.</div>
            <div class="form-error" ng-message="maxlength">Maximum length 6 digits.</div>
            <div class="form-error" ng-message="email">You did not enter a valid email.</div>
            <div class="form-error" ng-message="notanumber">This field requires a numeric input.</div>
            <div class="form-error" ng-message="notastring">This field requires an alpha only input.</div>
            <div class="form-error" ng-message="invalidserial">Invalid Serial #.</div>
            <div class="form-error" ng-message="compareTo">Password does not match.</div>
            <div class="form-error" ng-message="pattern">Invalid characters found.</div>
        </script>
        <form name="changePwdform" ng-submit="changePwd(changePwdform)" novalidate="">
            <div class="list">
                <label class="item item-input item-floating-label" ng-if="isFirstLogin=='yes'">
        <span  class="input-label">(DDMMYY) Default Password DOB*</span>
        <input  type="tel" class="pwd" limit-to="6" name="current_pwd" placeholder="(DDMMYY) Default Password DOB*" ng-model="changePwdData.current_pwd" pattern="[0-9]*" inputmode="numeric" required>
       <!--  <span class="input-label">(6-digit) Current Password *</span>
        <input type="number" class="pwd" limit-to="6" name="current_pwd" placeholder="(6-digit) Current Password *" ng-model="changePwdData.current_pwd" pattern="[0-9]*" inputmode="numeric" required> -->
      </label>
                <label class="item item-input item-floating-label" ng-if="isFirstLogin=='no'">
       <!--  <span ng-show="isFirstLogin=='yes'" class="input-label">(DD/MM/YY) Default Password *</span>
        <input ng-show="isFirstLogin=='yes'" type="number" class="pwd" limit-to="6" name="current_pwd" placeholder="(DD/MM/YY) Default Password *" ng-model="changePwdData.current_pwd" pattern="[0-9]*" inputmode="numeric" required> -->
        <span  class="input-label">(6-digit) Current Password *</span>
        <input  type="tel" class="pwd" minlength="6" limit-to="6" name="current_pwd" placeholder="(6-digit) Current Password *" ng-model="changePwdData.current_pwd" ng-pattern="/^[0-9]*$/" inputmode="numeric" required>
      </label>
                <div class="form-errors" ng-show="changePwdform.current_pwd.$error && changePwdform.$submitted" ng-messages="changePwdform.current_pwd.$error" ng-messages-include="templates/form-errors.html"></div>

                <label class="item item-input item-floating-label">
        <span class="input-label">(6-digit) New Password *</span>
        <input type="tel" class="pwd" name="new_pwd" minlength="6" placeholder="(6-digit) New Password *" ng-model="changePwdData.new_pwd" minlength="6" maxlength="6" limit-to="6" ng-pattern="/^[0-9]*$/" inputmode="numeric" required>
      </label>
                <div class="form-errors" ng-show="changePwdform.new_pwd.$error && changePwdform.$submitted" ng-messages="changePwdform.new_pwd.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label">
        <span class="input-label">(6-digit) Re-enter New Password *</span>
        <input type="tel" class="pwd" minlength="6" maxlength="6" name="reenter_pwd" placeholder="(6-digit) Re-enter New Password *" ng-model="changePwdData.re_enter" limit-to="6"  ng-pattern="/^[0-9]*$/" inputmode="numeric" compare-to="changePwdData.new_pwd" required>
      </label>
                <div class="form-errors" ng-show="changePwdform.reenter_pwd.$error && changePwdform.$submitted" ng-messages="changePwdform.reenter_pwd.$error" ng-messages-include="templates/form-errors.html"></div>
            </div>
            <button type="submit" class="button button-full ion-btn ion-action-btn">Submit</button>

        </form>

    </ion-content>
</ion-view>