<ion-modal class="dashboardmenu">
	<ion-content ng-click="hideMenu()">

		<div class="menus animated fadeIn">
		<div class="arrow-up"></div>
			<div class="list padding">
				
				<div class="item " ui-sref="app.edit_profile">
		            Edit Profile
		          </div>
		           <div class="item" ui-sref="app.changePwd">
		            Change Password
		          </div>
		          <div class="item" ng-click="logout()">
		            Logout
		          </div>
		         
			</div>
		</div>

	</ion-content>
</ion-modal>
