<ion-view view-title="" class="dashboard" hide-back-button="true">
    <style type="text/css">
        .bar.bar-stable,
        [nav-bar-transition="ios"] [nav-bar="active"] .bar,
        [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
            background: transparent !important;
        }
    </style>
    <ion-nav-buttons side="right">
        <button class="btn-dashboard-edit" ng-click="showMenu()">
        <img src="img/dashboard_edit.png">
      </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <div class="div-logo">


            <img src="img/ion_plus_rewards.png" ng-if="dashboard.tier=='ION Rewards'">
            <img src="img/ionprivi.png" ng-if="dashboard.tier=='ION Privi'">
            <img src="img/the100.png" ng-if="dashboard.tier=='The 100'">
            <img src="img/ion-privi-elite.png" ng-if="dashboard.tier=='ION Privi Elite'">
        </div>
    </div>
    <ion-content delegate-handle="mainScroll" class="has-subheader">
        <!-- <div class="toolbar">
      <button ng-click="edit_profile()">
        <img src="img/dashboard_edit.png">
      </button>
    </div> -->
        <ion-refresher pulling-text="" on-refresh="doRefresh()">
        </ion-refresher>
        <div class="greeting-member">
            <h4 class="greeting-msg">{{dashboard.greeting_msg}}</h4>
            <h4 class="member-name">{{dashboard.fullname}}</h4>
        </div>
        <!--  <p class="member-details">
    {{dashboard.nric}}<br />
    Membership: <span class="membership-status">{{dashboard.membership_status}}</span>
    </p> -->
        <div class="membership-functions">
            <table>
                <tr>
                    <td rowspan="2" class="left-column col-ion-plus-point" ng-click="redirect( 'total_points')">
                        <!-- <p>
              <div class="label total" >Total Points</div><br />
              <span class="ion-plus-point">{{dashboard.ion_points_curr_cycle | number:2}}</span>
            </p> -->
                        <div class="ion-pts">
                            <div class="row">
                                <div class="col left">ION<sup>+</sup> Points</div>
                                <div class="col right">{{dashboard.ion_points_curr_cycle + dashboard.ion_points_prev_cycle}}</div>
                            </div>
                            <div class="row">
                                <div class="col left">Carpark $</div>
                                <div class="col right" ng-if="login_details.carpark_points.length!=0">${{cp | number: 2}}</div>
                                <div class="col right" ng-if="login_details.carpark_points.length==0">$0.00</div>
                            </div>
                        </div>
                    </td>
                    <td class="right-column" ng-click="redirect( 'Privileges')">
                        <img src="img/dashboard_privileges.png">
                        <span class="icon-title">Privileges</span>
                    </td>
                </tr>
                <tr>
                    <td class="right-column" ng-click="redirect( 'Transactions')">
                        <img src="img/dashboard_transaction.png">
                        <span class="icon-title">Transactions</span>
                    </td>
                </tr>

                <tr>
                    <!--   <td></td> -->
                    <td rowspan="2" class="left-column" ng-click="redirect( 'IUManager')">
                        <div class="ion-pts">
                            <div class="row">
                                <div class="col col-40 left" style="text-align:left;">Active IU</div>
                                <div class="col right dashboard" ng-if="active_iu_exist && dashboard.active_iu.length > 0">
                                    <div ng-repeat="iu in dashboard.active_iu" ng-if="active_iu_exist">
                                        <span class="iu-no" ng-if="iu.activate==true">{{iu.iu_no}}<br/></span>
                                    </div>
                                </div>
                                <div class="col right dashboard" ng-if="!active_iu_exist || dashboard.active_iu.length==0">-</div>
                            </div>
                        </div>


                        <!-- <p>
                            <table class="iu-full" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="border:0px;" valign="middle">
                                        <div class="label">Active IU <span class="not_exist" ng-if="!active_iu_exist || dashboard.active_iu.length==0">-</span></div>
                                    </td>
                                    <td style="border:0px;">
                                        <table class="iu-full" ng-repeat="iu in dashboard.active_iu" ng-if="active_iu_exist">
                                            <tr style="padding-bottom:2px;">
                                                <td class="iu-no" ng-if="iu.activate==true">{{iu.iu_no}}</td>

                                            </tr>
                                            <br/>
                                        </table><br/>

                                        <!-- <span  ng-repeat="iu in dashboard.active_iu">{{iu}}<br/></span> - ->
                                </td>
                            </tr>
                        </table>

                        </p> -->
                    </td>
                    <td class="right-column" ng-click="redirect( 'Carpark')">
                        <img src="img/dashboard_carpark.png">
                        <span class="icon-title">Carpark $</span>
                    </td>
                </tr>
                <tr>
                    <td class="right-column" ng-click="redirect( 'ScanReceipts')">
                        <img src="img/dashboard_scan.png">
                        <span class="icon-title"><span style="line-height:12px;display: block;">Scan Receipts</span></span>
                    </td>
                </tr>

                <tr ng-if="ionsky">
                    <!--   <td></td> -->
                    <td rowspan="2" class="left-column col-ion-plus-point" ng-click="redirect( 'IONSkyBook')">
                        <div class="ion-pts">
                            <div class="row">
                                <div class="col col-80 left">ION Sky<br/>Tickets Allocated</div>
                                <div class="col right">{{totalskypass}}</div>
                            </div>
                        </div>
                    </td>
                    <td class="right-column" ng-click="redirect( 'IONSkyBook')">
                        <img src="img/dashboard_book.png">
                        <span class="icon-title">Book Now</span>
                    </td>
                </tr>
                <tr ng-if="ionsky">
                    <td class="right-column" ng-click="redirect( 'IONSkyWallet')">
                        <img src="img/dashboard_ionskywallet.png">
                        <span class="icon-title"><span style="line-height:12px;display: block;">Tickets Booked</span></span>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-style="!ionsky && {'margin-top':'20vh'}" class="arrow"><img src="img/scrollup.png" ng-click="scrolltoQR()"></div>
        <div class="qrcode">
            <p class="virtual-card">My Virtual Card</p>
            <div class="qr" id="qrcode"></div>
            <img id="img-buffer" src="img/ion_logo_RGB.png" style="display:none;">
            <p class="scan">Please scan the QR code to log in to your membership account.</p>
        </div>
    </ion-content>

</ion-view>