<ion-view view-title="Edit Profile" hide-back-button="true">
    <style>
        [nav-bar-transition="ios"] [nav-bar="active"] .bar,
        [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
            background: white !important;
        }
    </style>
    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="redirect('Dashboard')">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-content class="register editprofile padding">
        <script id="templates/form-errors.html" type="text/ng-template">
            <div class="form-error" ng-message="required">This field is required.</div>
            <div class="form-error" ng-message="minlength">This field must be 8 numeric numbers.</div>
            <div class="form-error" ng-message="maxlength">Maximum length 6 digits.</div>
            <div class="form-error" ng-message="email">You did not enter a valid email.</div>
            <div class="form-error" ng-message="notanumber">This field requires a numeric input.</div>
            <div class="form-error" ng-message="notastring">This field requires an alpha only input.</div>
            <div class="form-error" ng-message="invalidserial">Invalid Serial #.</div>
            <div class="form-error" ng-message="compareTo">Password does not match.</div>
            <div class="form-error" ng-message="pattern">Invalid characters found.</div>
        </script>
        <form name="editprofileform" ng-submit="submitProfile(editprofileform)" novalidate="">
            <div class="list ">
                <label class="item item-select item-floating-label gender row" style="padding: 23px;margin-top: 3px;padding-left: 0px !important;left: -7px;">
		    <div class="col">
			    <span class="input-label" ng-class="{nodata: editProfileData.salutation == ''}" >Salutation *</span>
			     <select name="salutation" ng-model="editProfileData.salutation" style="height: 52px;top: 15px;" required>
			     	<option value="" disabled  style="display: none;">Salutation *</option>
				      <option value="{{s.SystemCode}}" ng-repeat="s in all_salutation" >{{s.Name}}</option>
				      
			    </select>
			    <i class="icon ion-chevron-right placeholder-icon"></i>
		    </div>
		  </label>
                <div class="form-errors" ng-show="editprofileform.salutation.$error && editprofileform.$submitted" ng-messages="editprofileform.salutation.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
		  	<div class="col">
			    <span class="input-label">Family Name *</span>
			    <input type="text" name="familyName"  ng-pattern="/^[a-zA-Z\s]+$/" placeholder="Family Name *" ng-model="editProfileData.family_name"  required>
			    <i class="icon ion-chevron-right placeholder-icon"></i>
		    </div>
		  </label>
                <div class="form-errors" ng-show="editprofileform.familyName.$error && editprofileform.$submitted" ng-messages="editprofileform.familyName.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
		 	<div class="col">
			    <span class="input-label">Given Name *</span>
			    <input type="text" name="givenName" placeholder="Given Name *" ng-pattern="/^[a-zA-Z\s]+$/" ng-model="editProfileData.given_name"  required>
			    <i class="icon ion-chevron-right placeholder-icon"></i>
		    </div>
		  </label>
                <div class="form-errors" ng-show="editprofileform.familyName.$error && editprofileform.$submitted" ng-messages="editprofileform.givenName.$error" ng-messages-include="templates/form-errors.html"></div>
                <!--  <div class="row inline-fields">
  		<label class="item item-select item-floating-label gender col col-33"  style="padding: 23px;padding-top: 24px;padding-bottom: 0px;margin-top: -9px;padding-left: 0px !important;left: -13px;">
		   
			    <span class="input-label" ng-class="{nodata: editProfileData.sign_up_id == ''}" style="top:-10px;left:20px">Type *</span>
			     <select name="sign_up_id" ng-model="editProfileData.sign_up_id" style="height: 30px;top: 37px;padding-right:0px;padding-bottom: 7px" required>
			     	<option value="" disabled selected style="display: none;">Type *</option>
				      <option value="NRIC">NRIC</option>
				      <option value="FIN" selected>FIN</option>
				      <option value="PASSPORT" selected>PASSPORT</option>
			    </select>

		  
		     <div class="form-errors" ng-show="editprofileform.sign_up_id.$error && editprofileform.$submitted" ng-messages="editprofileform.sign_up_id.$error" ng-messages-include="templates/form-errors.html" style="margin-top: 28px;margin-left:20px;"></div>
		  </label>
		  <div class="item item-input item-floating-label col">
		  	
			    <span class="input-label">NRIC / FIN/ Passport *</span>
			    <input type="text" name="nric" placeholder="NRIC / FIN / Passport *" ng-model="editProfileData.nric"  required>
		   
		    <div class="form-errors" ng-show="registerform.nric.$error && registerform.$submitted" ng-messages="registerform.nric.$error" ng-messages-include="templates/form-errors.html"></div>
		  </div>

		 
		 </div> -->
                <div class="item item-input item-floating-label row">
                    <div class="col">
                        <span class="input-label">NRIC / FIN/ Passport *</span>
                        <input type="text" name="nric" placeholder="NRIC / FIN / Passport *" ng-model="editProfileData.nric" disabled required>
                    </div>
                </div>
                <div class="form-errors" ng-show="editprofileform.nric.$error && editprofileform.$submitted" ng-messages="editprofileform.nric.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-select item-floating-label gender row" style="padding: 23px;margin-top: 3px;padding-left: 0px !important;left: -7px;">
		    <div class="col">
			    <span class="input-label" ng-class="{nodata: editProfileData.gender == ''}" >Gender *</span>
			     <select name="gender" ng-model="editProfileData.gender" style="height: 52px;top: 15px;" required>
			     	<option value="" disabled selected style="display: none;">Gender *</option>
				      <option value="male">Male</option>
				      <option value="female" selected>Female</option>
			    </select>
			    <i class="icon ion-chevron-right placeholder-icon" style="    right: 5px;"></i>
		    </div>

		  </label>
                <div class="form-errors" ng-show="editprofileform.gender.$error && editprofileform.$submitted" ng-messages="editprofileform.gender.$error" ng-messages-include="templates/form-errors.html"></div>

                <label class="item item-select item-floating-label row">
		  	<div class="col">
			    <span class="input-label">Date of Birth *</span>
			    <input type="date" name="dob" placeholder="Date of Birth *" ng-model="editProfileData.dob" disabled required>
		    </div>
		  </label>
                <div class="form-errors" ng-show="editprofileform.dob.$error && editprofileform.$submitted" ng-messages="editprofileform.dob.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-select item-floating-label country row" name="nationality" style="padding: 23px;margin-top: 3px;">
		  <div class="col">
		    <span class="input-label" ng-class="{nodata: editProfileData.nationality == ''}">Nationality *</span>
		    <select name="nationality" ng-select="hideKeyboardforPwd();hideKeyboardforPwd2()" ng-model="editProfileData.nationality" style="height: 52px;top: 15px;    left: 13px;" required>
		     	 <option value="" disabled selected style="display: none;">Nationality *</option>
			      <option value="{{n.SystemCode}}" ng-repeat="n in all_nationalities">{{n.Name}}</option>
			     
		      
		    </select>
		    </div>
		   </label>
                <div class="form-errors" ng-show="editprofileform.nationality.$error && editprofileform.$submitted" ng-messages="editprofileform.nationality.$error" ng-messages-include="templates/form-errors.html"></div>
                <div class="row inline-fields">
                    <div class="item item-input item-floating-label gender country_code col ">
                        <span class="input-label" ng-class="{nodata: editProfileData.country_code == ''}">Country Code*</span>
                        <div country-code-select name="country_code" ng-model="editProfileData.country_code" placeholder="Country Code*"></div>
                        <div class="form-errors" ng-show="editprofileform.country_code.$error && editprofileform.$submitted" ng-messages="editprofileform.country_code.$error" ng-messages-include="templates/form-errors.html"></div>
                    </div>

                    <div class="item item-input item-floating-label col ">
                        <span class="input-label">Area Code</span>
                        <input type="tel" ng-pattern="/^[0-9]*$/" inputmode="numeric" name="area_code" placeholder="Area Code" ng-model="editProfileData.area_code" class="inline_field cc">
                        <i class="icon ion-chevron-right placeholder-icon" style="    right: 10px;"></i>
                        <!-- <div class="form-errors" ng-show="editprofileform.area_code.$error && editprofileform.$submitted" ng-messages="editprofileform.area_code.$error" ng-messages-include="templates/form-errors.html"></div> -->
                    </div>


                </div>
                <div class="row">
                    <div class="item item-input item-floating-label col">
                        <span class="input-label">Contact *</span>
                        <input type="tel" ng-pattern="/^[0-9]*$/" inputmode="numeric" name="contact" placeholder="Contact *" class="inline_field contact" ng-model="editProfileData.contact" required>
                        <div class="form-errors" ng-show="editprofileform.contact.$error && editprofileform.$submitted" ng-messages="editprofileform.contact.$error" ng-messages-include="templates/form-errors.html"></div>
                        <i class="icon ion-chevron-right placeholder-icon" style="    right: 10px;"></i>
                    </div>
                </div>

                <!--  <label class="item item-input item-floating-label row">
			   	<div class="col">
				    <span class="input-label">Email *</span>
				    <input type="email" name="email" placeholder="Email *" ng-model="editProfileData.email" required>
				    <i class="icon ion-chevron-right placeholder-icon"></i>
			    </div>
		  </label>
		  <div class="form-errors" ng-show="editprofileform.email.$error && editprofileform.$submitted" ng-messages="editprofileform.email.$error" ng-messages-include="templates/form-errors.html"></div> -->
                <label class="item item-input item-floating-label row">
			   	<div class="col">
				    <span class="input-label">Email *</span>
				    <input type="email" name="email" placeholder="Email *" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model="editProfileData.email" required>
			    </div>
		  </label>
                <div class="form-errors" ng-show="editprofileform.email.$error && editprofileform.$submitted" ng-messages="editprofileform.email.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-select item-floating-label country row" name="country" style="padding: 23px;margin-top: 3px;">
			  <div class="col">
			    <span class="input-label" ng-class="{nodata: editProfileData.country == '' || editProfileData.country == null}">Country *</span>
			    <select name="country" ng-select="hideKeyboardforPwd();hideKeyboardforPwd2()" style="height: 52px;top: 15px;    left: 13px;" ng-model="editProfileData.country" required>
			     	 <!-- <option value="" disabled selected style="display: none;">Country *</option> -->
				      <option value="{{c.SystemCode}}" ng-repeat = "c in all_countries">{{c.Name}}</option>
				     
			      
			    </select>
			    <i class="icon ion-chevron-right placeholder-icon"></i>
			    </div>
		   </label>
                <div class="form-errors" ng-show="editprofileform.country.$error && editprofileform.$submitted" ng-messages="editprofileform.country.$error" ng-messages-include="templates/form-errors.html"></div>
                <!-- <div class="form-errors" ng-show="editprofileform.email.$error && editprofileform.$submitted" ng-messages="editprofileform.email.$error" ng-messages-include="templates/form-errors.html"></div>
		   <label class="item item-input item-floating-label row">
		  	<div class="col column3">
		  		
		  		<span class="input-label" ng-class="{nodata: editProfileData.country_code == ''}" >Country Code</span>
		    	
		    	<div country-code-select name="country_code"  ng-model="editProfileData.country_code" placeholder="Country Code"></div>
		    </div>
		    <div class="col column3">
		  		<span class="input-label">Area Code</span>
		    	<input type="number" name="area_code" placeholder="Area Code *" ng-model="editProfileData.area_code" class="inline_field cc" required>
		    </div>
		  	<div class="col column3">
		  		<span class="input-label">Contact *</span>
				<input type="number" name="contact" placeholder="Contact *" class="inline_field contact" ng-model="editProfileData.contact"  required>
		  	</div>
		    
		  </label> -->



                <!--  <div class="form-errors" ng-show="editprofileform.email.$error && editprofileform.$submitted" ng-messages="editprofileform.email.$error" ng-messages-include="templates/form-errors.html"></div> -->


                <!-- <div class="form-errors" ng-show="registerform.email.$error && registerform.$submitted" ng-messages="registerform.email.$error" ng-messages-include="templates/form-errors.html"></div>
		  <label class="item item-input item-floating-label row">
		    <div class="col">
		  		<span class="input-label">Area Code</span>
		    	<input type="number" ng-pattern="/^[0-9]*$/" name="area_code" placeholder="Area Code" ng-model="editProfileData.area_code" class="inline_field cc">
		    </div>
		  </label>

		  <div class="form-errors" ng-show="registerform.email.$error && registerform.$submitted" ng-messages="editprofileform.email.$error" ng-messages-include="templates/form-errors.html"></div>
		  <label class="item item-input item-floating-label row">
		    <div class="col">
		  		<span class="input-label">Contact *</span>
				<input type="number" name="contact" placeholder="Contact *" class="inline_field contact" ng-model="editProfileData.contact"  required>
		  	</div>
		  </label>
		  <div class="form-errors" ng-show="editprofileform.contact.$error && editprofileform.$submitted" ng-messages="editprofileform.contact.$error" ng-messages-include="templates/form-errors.html"></div>
		 <label class="item item-select item-floating-label gender row"  style="padding: 23px;margin-top: 3px;padding-left: 0px !important;left: -7px;">
		    <div class="col">
			    <span class="input-label" ng-class="{nodata: editProfileData.salutation == ''}" >Salutation *</span>
			     <select name="salutation" ng-model="editProfileData.salutation" style="height: 52px;top: 15px;" required>
			     	<option value="" disabled selected style="display: none;">Salutation *</option>
				      <option value="{{s.SystemCode}}" ng-repeat="s in all_salutation">{{s.Name}}</option>
				      
			    </select>
		    </div>
		  </label> -->






                <label class="item item-input item-floating-label row">
		  	<div class="col">
			    <span class="input-label">Block *</span>
			    <input type="text" name="block" placeholder="Block *" ng-model="editProfileData.block" ng-pattern="/^[a-zA-Z0-9]+$/" required>
			    <i class="icon ion-chevron-right placeholder-icon"></i>
		    </div>
		  </label>
                <div class="form-errors" ng-show="editprofileform.block.$error && editprofileform.$submitted" ng-messages="editprofileform.block.$error" ng-messages-include="templates/form-errors.html"></div>

                <label class="item item-input item-floating-label row">
		  	<div class="col">
			    <span class="input-label">Street *</span>
			    <input type="text" name="street" placeholder="Street *" ng-model="editProfileData.street" ng-pattern="/^[a-zA-Z0-9-_.+\'\/\s]+$/" required>
			    <i class="icon ion-chevron-right placeholder-icon"></i>
		    </div>
		  </label>
                <div class="form-errors" ng-show="editprofileform.street.$error && editprofileform.$submitted" ng-messages="editprofileform.street.$error" ng-messages-include="templates/form-errors.html"></div>
                <div class="row">
                    <div class="item item-input item-floating-label col">
                        <span class="input-label">Level</span>
                        <input type="tel" name="level" ng-pattern="/^[0-9]*$/" inputmode="numeric" placeholder="Level" ng-model="editProfileData.level">
                        <i class="icon ion-chevron-right placeholder-icon"></i>
                        <!-- <div class="form-errors" ng-show="registerform.level.$error && registerform.$submitted" ng-messages="registerform.level.$error" ng-messages-include="templates/form-errors.html"></div> -->
                    </div>

                    <div class="item item-input item-floating-label col">
                        <span class="input-label">Unit</span>
                        <input type="text" ng-pattern="/^[a-zA-Z0-9]*$/" name="unit" placeholder="Unit" ng-model="editProfileData.unit">
                        <i class="icon ion-chevron-right placeholder-icon" style="right: 10px;"></i>
                        <div class="form-errors" ng-show="editprofileform.unit.$error && editprofileform.$submitted" ng-messages="editprofileform.unit.$error" ng-messages-include="templates/form-errors.html"></div>
                    </div>

                </div>


                <label class="item item-input item-floating-label row">
		   		<div class="col">
				    <span class="input-label">Postal Code *</span>
				    <input type="tel" ng-pattern="/^[0-9]*$/" limit-to="10" inputmode="numeric" name="postal_code" placeholder="Postal Code *" ng-model="editProfileData.postal_code" required>
				   
			    </div>

		   </label>
                <div class="form-errors" ng-show="editprofileform.postal_code.$error && editprofileform.$submitted" ng-messages="editprofileform.postal_code.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
		  	<div class="col">
			    <span class="input-label">Building</span>
			    <input type="text" name="building" placeholder="Building" ng-model="editProfileData.building"  >
		    </div>
		  </label>



                <!-- <div class="row">
		   	<div class="col">
			  	<input id="input_iu" type="checkbox" name="input_iu" ng-model="editProfileData.input_iu">
	            <label for="input_iu" class="agreement iu_no">Opt for IU No. (optional)</label>
	            
             </div>
          </div> -->
                <!--   <label class="item item-input item-floating-label row">
		    	<div class="col">
				    <span class="input-label" style="opacity: 1;top: 6px;">Active IU No.</span>
				    <input type="text" placeholder="IU No."  value="{{iu.iu_no}}" ng-repeat="iu in ius" ng-if="iu.activate == true" style="margin-bottom: 5px;" disabled>
			    </div>
			 </label> -->

                <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        <span class="input-label pdpa-title">I agree to the collection, retention, use and disclosure of my personal data according to the Terms & Conditions, and hereby consent to receiving communication (in such form(s) as indicated below) in connection with ION Orchard’s latest promotions, activities and/or events.</span>
                    </div>
                </div>
                <div class="agree-wrapper row">
                    <div class="col col-22">
                        <input id="sms" type="checkbox" name="sms" ng-model="editProfileData.notify_sms">
                        <label for="sms" class="agreement pdpa">SMS</label>
                    </div>
                    <div class="col col-22">
                        <input id="pdpa_email" type="checkbox" name="pdpa_email" ng-model="editProfileData.notify_email">
                        <label for="pdpa_email" class="agreement pdpa">Email</label>

                    </div>

                    <div class="col col-30">
                        <input id="postal_mail" type="checkbox" name="postal_mail" ng-model="editProfileData.notify_post">
                        <label for="postal_mail" class="agreement pdpa">Postal Mail</label>
                    </div>
                    <div class="col col-22">
                        <input id="call" type="checkbox" name="call" ng-model="editProfileData.notify_call">
                        <label for="call" class="agreement pdpa">Phone</label>
                    </div>
                </div>
                <!--  <div class="form-errors" ng-show="!editProfileData.pdpa.notify_sms || !editProfileData.pdpa.notify_post && editprofileform.$submitted" ng-messages="editprofileform.agree.$error" ng-messages-include="templates/form-errors.html"></div>
		  </div> -->


                <!-- <div class="agree-wrapper">
		  	
		  		<input id="agree" type="checkbox" name="agree" ng-model="editProfileData.agree"  required>
		  <label for="agree" class="agreement"></label>
            <div class="agreement">I Agree to the <a ng-click="gototnc()"><u>Terms & Conditions</u></a></div>
            
             <div class="form-errors" ng-show="editprofileform.agree.$error && editprofileform.$submitted" ng-messages="editprofileform.agree.$error" ng-messages-include="templates/form-errors.html"></div>
          </div> -->

                <!-- <ion-checkbox name="agree" ng-model="editProfileData.agree" required>I Agree to the <a href="">Terms & Conditions</a></ion-checkbox> -->
                <!-- <div class="form-errors" ng-show="editprofileform.agree.$error && registerform.$submitted" ng-messages="registerform.agree.$error" ng-messages-include="templates/form-errors.html"></div> -->
            </div>
            <button type="submit" class="button button-full ion-btn ion-action-btn">Submit</button>

        </form>

    </ion-content>

</ion-view>