<ion-modal class="filtermenu">
	<ion-content ng-click="closeFilter()">

		<div class="menus animated fadeIn">
		<div class="arrow-up"></div>
			<div class="list padding">
				
				<div class="item" ng-click="chooseChoice('All')">
		            All
		          </div>
		          <div class="item" ng-click="chooseChoice('Shopping')">
		            Shopping
		          </div>
		           <div class="item" ng-click="chooseChoice('Dining')">
		            Dining
		          </div>
		          
		         
			</div>
		</div>

	</ion-content>
</ion-modal>
