<ion-view view-title="Forgot Password" hide-back-button="true">
	<ion-nav-buttons side="left">
      <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-content class="login ">
  	<script id="templates/form-errors.html" type="text/ng-template">  
        <div class="form-error" ng-message="required">This field is required.</div>
        <div class="form-error" ng-message="minlength">This field must be 8 numeric numbers.</div>
        <div class="form-error" ng-message="maxlength">This field is must be 10 characters.</div>
        <div class="form-error" ng-message="email">You did not enter a valid email.</div>
        <div class="form-error" ng-message="notanumber">This field requires a numeric input.</div>
        <div class="form-error" ng-message="notastring">This field requires an alpha only input.</div>
        <div class="form-error" ng-message="invalidserial">Invalid Serial #.</div>
        <div class="form-error" ng-message="passwordVerify">Password does not match.</div>
    </script>
  	<form name="fPwdform" ng-submit="resetPwd(fPwdform)" novalidate="">
  		<div class="list padding">
		  <label class="item item-input item-floating-label row">
        <div class="col">
  		    <span class="input-label">NRIC / FIN/ Passport *</span>
  		    <input type="text" name="nric" placeholder="NRIC / FIN / Passport *" ng-model="forgotData.nric"  required>
        </div>
		  </label>
		   <div class="form-errors" ng-show="fPwdform.nric.$error && fPwdform.$submitted" ng-messages="fPwdform.nric.$error" ng-messages-include="templates/form-errors.html"></div>

		  <label class="item item-input item-floating-label row">
        <div class="col">
  		    <span class="input-label">Your Registered Email *</span>
  		    <input type="email" name="email" placeholder="Your Registered Email *" ng-model="forgotData.email"required>
        </div>
		  </label>
		  <div class="form-errors" ng-show="fPwdform.email.$error && fPwdform.$submitted" ng-messages="fPwdform.email.$error" ng-messages-include="templates/form-errors.html"></div>
		   
		</div>
		<button type="submit" class="button button-full ion-btn ion-action-btn">Reset Password</button>
		
  	</form>
      
  </ion-content>
</ion-view>