 <ion-view view-title="Terms and Conditions" cache-view="false" hide-back-button="true">

	<ion-nav-buttons side="left">
      <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <!--  <ion-nav-title>
      In-Vehicle Unit No.

    </ion-nav-title> -->
      
  <ion-content class="padding tnc">
     <div class="condition" ng-bind-html="tnc"> 
     </div>

    
  </ion-content>
  
  

</ion-view>