<ion-view view-title="" class="ionskywallet" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
        Tickets Booked
    </ion-nav-title>
    <div class="bar bar-subheader">
        <div class="button-bar">
            <a class="button transaction-nav-button" ng-click="changeMenu('current')" ng-init="changeMenu('current')" ng-class="{active: currentFilterName=='current'}">
                <div>Booked</div>
            </a>
            <a class="button transaction-nav-button" ng-click="changeMenu('expired')" ng-class="{active: currentFilterName=='expired'}">
                <div>History</div>
            </a>
        </div>
    </div>
    <ion-content class="iu-content has-subheader">
        <ion-refresher pulling-text="" on-refresh="refreshWallet()">
        </ion-refresher>
        <div class="list">
            <div class="last-updated" ng-if="receipt.length != 0">
                Last updated on {{last_updated_time}}<br /> Pull to refresh
            </div>
            <div class="item spendings" ng-repeat="p in f = (passes.data | filter: filterHistory)" ng-if="passes.data.length != 0" ng-click="showDetail(p)" ng-class="{nohover: p.status != 1}">
                <div class="left">
                    <div class="shop" ng-if="p.status == 1">Admission Ticket</div>
                    <div class="shop" ng-if="p.status == 2">Admission Ticket Redeemed</div>
                    <div class="shop" ng-if="p.status == 3">Admission Ticket Expired</div>
                    <!-- <div class="shop">{{p.title}}</div> -->
                    <div class="bottom_row">
                        <div class="icon"><img src="img/calendar.png"></div>
                        <div class="date">{{p.eventDate + " " + p.eventDateSession}}</div>
                        <div class="icon"><img src="img/book.png"></div>
                        <div class="amount" style="margin-right: 3px;">{{p.noOfCredits}} Ticket<span ng-if="p.noOfCredits > 1">s</span></div>
                    </div>
                </div>
                <div class="right">
                    <img src="img/qrcode.png" />
                </div>
            </div>
            <div class="norecord padding" ng-if="f.length == 0">No ticket found.</div>
        </div>
    </ion-content>
</ion-view>