<ion-view view-title="" class="ticket-details" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
        Tickets Booked
    </ion-nav-title>

    <ion-content class="iu-content">
        <div>
            <div class="row">
                <div class="col body">
                    <br/>
                    <!-- <p>Your QR Code access to ION Sky will automatically be stored in your ION Sky Wallet under the ION<sup>+</sup> Rewards tab.</p> -->
                    <span class="small"></span>
                    <p>Please arrive 5 minutes before the show. We apologize that entry would not be granted 5 minutes after the show.</p>
                </div>
            </div>
            <div class="row">
                <div class="col details">
                    <center>
                        <div>
                            <div class="icon"><img src="img/calendar.png"></div>
                            <div class="date">{{pass.eventDate + " " + pass.eventDateSession}}</div>
                            <div class="icon"><img src="img/book.png"></div>
                            <div class="amount" style="margin-right: 0px;">{{pass.freeQty}} Ticket<span ng-if="pass.freeQty>1">s</span></div>
                        </div>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col qr">
                    <center>
                        <!-- {{apiurl}}loadimg.php?s=https://10.60.27.75{{pass.qrImageUrl}} -->
                        <!-- <img ng-src="{{apiurl}}loadimg.php?s=https://10.60.27.75{{pass.qrImageUrl}}" /> -->
                        <img ng-src="{{apiurl}}loadimg2.php?s={{pass.qrImageUrl}}" />
                        <br/>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col body">
                    <!-- <p>Your QR Code access to ION Sky will automatically be stored in your ION Sky Wallet under the ION<sup>+</sup> Rewards tab.</p> -->
                    <p>Visit ION<sup>+</sup> Rewards tab for a summary of your rewards. <br/>We look forward to welcome you at ION Sky.</p>
                </div>
            </div>
            <div class="row" ng-if="ionsky.text1 != ''">
                <div class="col details">
                    <center>
                        <div style="border:1px solid #45555f;width:95%;padding:5px;">
                            <span style="font-size:100%;">{{ionsky.text1}}</span><br/>
                            <i style="font-style:italic !important;">{{ionsky.text2}}<br/>{{ionsky.text3}}<br/><span style="text-decoration: underline;" ng-click="openUrl('http://www.ion-sfs.info/ionapp/ionsky_saltgrill_tnc.htm')">T&amp;Cs apply.</span></i>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </ion-content>

    <div class="bar bar-footer">
        <button ng-click="skyRedirect('Dashboard')" class="btn-iu-bottom">Done</button>
    </div>

</ion-view>