<ion-view view-title="" class="bookionsky" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
        Book Now
    </ion-nav-title>

    <ion-content class="iu-content">
        <center>
            <div class="summary_table">
                <div class="row title">
                    <div class="col">Admission to ION Sky</div>
                </div>
                <div class="row">
                    <div class="col col-60 header">Tickets Allocated</div>
                    <div class="col col-40 header">Expiry Date</div>
                </div>
                <div class="row" ng-repeat="(key, value) in credits" ng-if="credits != {}">
                    <div class="col col-60">{{value}}</div>
                    <div class="col col-40">{{key | date: "dd MMM yyyy"}}</div>
                </div>
                <div class="row" ng-if="totalCredits.length == 0">
                    <div class="col col-60">-</div>
                    <div class="col col-40">-</div>
                    <!-- <div class="col">No credit awarded</div> -->
                </div>
            </div>
        </center>

        <div class="ionskybooking">
            <div class="row">
                <div class="col col-10"><img src="img/calendar.png"></div>
                <div class="col col-90">Date</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-90">
                    {{data.selectedDate|json}}
                    <label class="item item-input item-select item-icon-right">
                        <div class="input-label"></div>
                        <select name="selectedDate" id="selectedDate" ng-model="data.selectedDateIndex" ng-change="loadDate()">
                            <option value="">-- Please Select --</option>
                            <option ng-repeat="d in tickets.data[0].eventGroups" ng-value="$index">{{d.eventDate | date: "dd MMM yyyy"}}</option>
                        </select>
                        <i class="icon"><img src="img/wallet_calendar.png"/></i>                        
                      </label>
                    <span ng-if="tickets.data[0].eventGroups.length == 0">No dates available</span><br/>
                </div>
            </div>
        </div>

        <div class="ionskybooking">
            <div class="row">
                <div class="col col-10"><img src="img/clock.png"></div>
                <div class="col col-90">Time &amp; Tickets Available</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-90">
                    <label class="item item-input item-select item-icon-right">
                        <div class="input-label"></div>
                        <select name="selectedTime" id="selectedTime" ng-model="data.selectedTimeIndex" ng-change="loadTime()">
                            <option value="">-- Please Select --</option>
                            <option ng-repeat="t in selectedDate.lines" value="{{$index}}" ng-if="!(
                                (selectedDate.eventDate==today) &&
                                (compareLessEqualTime(t.eventDatetime, currentHr, currentMin))
                                )">
                                {{t.eventDatetime}} ({{t.capacity}})</option>
                        </select>
                        <i class="icon"><img src="img/wallet_dropdown.png"/></i>                        
                    </label>
                    <span ng-if="selectedDate.lines.length == 0">No time available</span><br/>
                </div>
            </div>
        </div>

        <div class="ionskybooking">
            <div class="row">
                <div class="col col-10"><img src="img/book.png"></div>
                <div class="col col-90">No. of Tickets</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-90">
                    <label class="item item-input item-select item-icon-right">
                        <div class="input-label"></div>
                        <select name="selectedNoTickets" id="selectedNoTickets" ng-model="data.selectedNoTickets" ng-change="loadNoTicket()">
                            <option value="">-- Please Select --</option>
                            <option ng-repeat="d in totalCredits" value="{{$index+1}}">{{$index+1}}</option>
                        </select>
                        <i class="icon"><img src="img/wallet_dropdown.png"/></i>                        
                    </label>
                    <span ng-if="totalCredits.length == 0">No tickets available</span><br/>
                    <span ng-if="totalCredits.length > 0">Please note that only available date/show times will be reflected.</span><br/>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
    </ion-content>

    <div class="bar bar-footer">
        <button class="btn-iu-bottom" ng-click="bookTickets()" ng-disabled="selectedNoTickets<=0 || selectedDate == null ||
        selectedTime == null">
      Book
    </button>

    </div>

</ion-view>