<ion-view view-title="" class="iu-manager" hide-back-button="true">

	<ion-nav-buttons side="left">
      <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
     <ion-nav-title>
      In-Vehicle Unit No.

    </ion-nav-title>
      <div class="bar bar-subheader">
        <div class="button-bar">
            <a class="button iu-manager-nav-button" ng-click="changeIUMenu('set_delete_active_iu')" ng-init="changeMenu('spending')" ng-class="{active: iu_menu_selected=='set_delete_active_iu'}"><div>Set/Delete Active IU</div></a>
            <a class="button iu-manager-nav-button" ng-click="changeIUMenu('add_iu')" ng-class="{active: iu_menu_selected=='add_iu'}"><div>Add IU</div></a>
        </div>
     </div>
  <ion-content class="iu-content has-subheader">
     <script id="templates/form-errors.html" type="text/ng-template">  
        <div class="form-error" ng-message="required">This field is required.</div>
        <div class="form-error" ng-message="minlength">This field must be 10 digits.</div>
        <div class="form-error" ng-message="maxlength">Maximum length 10 digits.</div>
        <div class="form-error" ng-message="email">You did not enter a valid email.</div>
        <div class="form-error" ng-message="notanumber">This field requires a numeric input.</div>
        <div class="form-error" ng-message="notastring">This field requires an alpha only input.</div>
        <div class="form-error" ng-message="invalidserial">Invalid Serial #.</div>
        <div class="form-error" ng-message="passwordVerify">Password does not match.</div>
        <div class="form-error" ng-message="pattern">Invalid characters found.</div>
    </script>
    <div ng-if="iu_menu_selected == 'set_delete_active_iu'">
      <div class="div-active-iu">
        <p>
          Active IU No.<br />
          <span class="active-iu-no" ng-if="profile.tier !='The 100' && profile.tier !='ION Privi Elite'">{{iu.active_iu}}</span>
          <div class="active-iu-no" ng-repeat="num in iu.active_iu track by $index" ng-if="profile.tier =='The 100' || profile.tier =='ION Privi Elite'">{{num.iu_no}}</div>
          <span class="active-iu-no" ng-if="iu.active_iu == '' || iu.active_iu.length == 0">-</span>
          
        </p>
      </div>
      <div class="row iu-list-header">
        <div class="col col-30">Active</div>
        <div class="col col-70">Registered IU</div>
      </div>
      <div class="iu-list">
        <!-- <ion-refresher
          pulling-text=""
          on-refresh="doRefreshActiveIU()">
        </ion-refresher> -->
        <ul class="list">
          <li ng-class="['item', {'odd': ($index%2 == 0), 'even': ($index%2 > 0)}]" ng-repeat="i in iu track by $index">
            <div class="row">
              <div class="col col-30" ng-if="(profile.tier !='The 100') && (profile.tier !='ION Privi Elite')">
                <input id="iu-active-selected-{{i.iu_no}}" type="radio" name="iu_active_selected" ng-model="iu.active_selected" value="{{i.iu_no}}" ng-click="set_selected_iu(i.iu_no)" >
                <!--  <input id="iu-active-selected-{{i.iu_no}}" type="checkbox" name="iu_active_selected"  value="{{i.iu_no}}" ng-checked="iu.active_selected"  ng-click="set_selected_iu(i.iu_no)"> -->
                 <label for="iu-active-selected-{{i.iu_no}}"></label>
              </div>
              <div class="col col-30" ng-if="profile.tier =='The 100' || profile.tier =='ION Privi Elite'">
                <input id="iu-active-selected-{{i.iu_no}}" type="checkbox" name="iu_active_selected"  value="{{i.iu_no}}" ng-checked="i.activate"  ng-click="set_mutiple_selected_iu($index)">
                <label for="iu-active-selected-{{i.iu_no}}"></label>
              </div>
              <div class="col col-60 list-iu-no"><span class="iu-no">{{i.iu_no}}</span></div>
              <div class="col col-10"><a class="btn-remove" ng-click="remove_iu(i.iu_no, $index)"><i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i></a></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div ng-if="iu_menu_selected == 'add_iu'">
     <form id="newiuform" class="addiu" name="newiuform" ng-submit="add_new_iu(newiuform)" novalidate="">
      <div class="div-active-iu">
        <p>
          Active IU No.<br />
          <span class="active-iu-no" ng-if="profile.tier !='The 100' && profile.tier !='ION Privi Elite'">{{iu.active_iu}}</span>
          <div class="active-iu-no" ng-repeat="num in iu.active_iu track by $index" ng-if="profile.tier =='The 100' || profile.tier =='ION Privi Elite'">{{num.iu_no}}</div>
          <span class="active-iu-no" ng-if="iu.active_iu == '' || iu.active_iu.length == 0">-</span>
        </p>
      </div>
     
        <div class="list padding">
          <div class="item item-input item-floating-label row">
            <div class="col">
              <span class="input-label">Enter IU No.</span>
              <input type="tel" limit-to="10" name="iu_no" placeholder="Enter IU No." pattern="[0-9]*" ng-change="checkIU()" ng-model="new_iu.iu_no"  required>
            </div>
          </div>

          <div class="item item-input item-floating-label row">
            <div class="col">
              <span class="input-label">Re-enter IU No.</span>
              <input type="tel" limit-to="10" name="confirm_iu_no" ng-pattern="/^[0-9]*$/" placeholder="Re-enter IU No." ng-model="new_iu.confirm_iu_no" ng-class="{error:iu_wrong == true}" ng-change="checkIU()" required>
               <div class="form-errors" ng-if="new_iu.confirm_iu_no && new_iu.confirm_iu_no != '' && iu_wrong == true">IU No. does not match.</div>
            </div>
          </div>
          <div class="item item-input item-floating-label row">
            <div class="col">
              <span class="input-label">Enter Password</span>
              <input type="tel" limit-to="6" class="pwd" name="confirm_password" placeholder="Enter Password"  ng-model="new_iu.confirm_password" ng-pattern="/^[0-9]*$/" inputmode="numeric" required>
              <div class="form-errors" ng-show="new_iu.confirm_password && new_iu.confirm_password.length < 6">Minimum length 6 digits. </div>
            </div>
          </div>
          <div class="item item-input item-input-cb activeiu">
            <input id="is_active_iu" type="checkbox" name="is_active_iu"  value="1" ng-model="new_iu.is_active_iu">
            <label for="is_active_iu" class="active_iu">Select as Active IU</label>
          </div>
          <br/><br/><br/>
        </div>
      </form>
    </div>
    
  </ion-content>
   
  <div class="bar bar-footer">
    <button class="btn-iu-bottom" ng-click="set_iu_as_active()" ng-disabled="iu.length==0 || !enable_save_btn" ng-if="iu_menu_selected == 'set_delete_active_iu'">
      Save
    </button>
    <button class="btn-iu-bottom" ng-class="{disabled: iu_wrong || new_iu.confirm_password.length < 6}" ng-click="new_iu_submit()" ng-disabled="iu_wrong || new_iu.confirm_password.length < 6 || (!new_iu.iu_no || !new_iu.confirm_iu_no || !new_iu.confirm_password)" ng-if="iu_menu_selected == 'add_iu'">
      Submit
    </button>

  </div>

</ion-view>