<ion-modal>
    <ion-content class="legends" ng-click="closeLegends()" has-bouncing="false">
        <div ng-show="'app.transactions' | isState">
            <div class='details padding spending' ng-if="menu_select == 'spending'">
                <table>
                    <tr>
                        <td><img src="img/calendar.png" style="width: 40%"></td>
                        <td>&nbsp;Date/Time</td>
                    </tr>
                    <tr>
                        <td><img src="img/amt_icon.png" style="width: auto"></td>
                        <td>&nbsp;Amount Spent</td>
                    </tr>
                    <tr>
                        <!-- <td><img src="img/earned_icon.png"></td> -->
                        <td style="vertical-align: middle;"><img src="img/ion_icon.png" style="width:50%"></td>
                        <td>&nbsp;Earned ION<sup>+</sup> Points</td>
                    </tr>

                </table>

            </div>
            <div class='details padding receipt' ng-if="menu_select == 'receipt'">

                <table>
                    <tr>
                        <td><img src="img/calendar.png"></td>
                        <td>&nbsp;Date/Time</td>
                    </tr>
                </table>
            </div>
            <div class='details padding redemption' ng-if="menu_select == 'redemption'">
                <table>
                    <tr>
                        <td><img src="img/calendar.png"></td>
                        <td>&nbsp;Date/Time</td>
                    </tr>
                    <!-- <tr>
        			<td><img src="img/amt_icon.png"></td>
        			<td>&nbsp;Amount Spent</td>
        		</tr> -->
                    <tr>
                        <td><img src="img/ion_icon.png" style="width:48%"></td>
                        <td>&nbsp;ION<sup>+</sup> Points</td>
                    </tr>
                    <tr>
                        <td><img src="img/car_icon.png"></td>
                        <td>&nbsp;Carpark $</td>
                    </tr>
                    <!--<tr>
        			<td><img src="img/used_icon.png"></td>
        			<td>&nbsp;Used Points</td>
        		</tr>-->
                </table>

            </div>
        </div>
        <div ng-show="'app.privileges' | isState" ">
        <div class='details padding gift' ng-if="menu_select=='gift' ">
            <table>
                <tr>
                    <td><img src="img/gift_redemption_icon.png "></td>
                    <td>&nbsp;Redeem Points</td>
                </tr>
                <tr>
                    <td><img src="img/gift_location_icon.png "></td>
                    <td>&nbsp;Location to Redeem</td>
                </tr>
            </table>
           
        </div>
    </div>
  </ion-content>
</ion-view>