<ion-view view-title="Login" hide-back-button="true">

  <ion-nav-buttons side="left">
      <button class="button back_btn" ng-click="rewards()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
  <ion-content class="login padding">
  	<script id="templates/form-errors.html" type="text/ng-template">  
        <div class="form-error" ng-message="required">This field is required.</div>
        <div class="form-error" ng-message="minlength">Minimum length 6 digits.</div>
        <div class="form-error" ng-message="maxlength">Maximum length 6 digits.</div>
        <div class="form-error" ng-message="email">You did not enter a valid email.</div>
        <div class="form-error" ng-message="notanumber">This field requires a numeric input.</div>
        <div class="form-error" ng-message="notastring">This field requires an alpha only input.</div>
        <div class="form-error" ng-message="invalidserial">Invalid Serial #.</div>
        <div class="form-error" ng-message="passwordVerify">Password does not match.</div>
        <div class="form-error" ng-message="pattern">Invalid characters found.</div>
    </script>
  	<form name="loginform" ng-submit="doLogin(loginform)" novalidate="">
  		<div class="list">
		  <label class="item item-input item-floating-label row">
        <div class="col">
  		    <span class="input-label">NRIC / FIN/ Passport *</span>
  		    <input type="text" name="nric" placeholder="NRIC / FIN / Passport *" ng-model="loginData.nric" ng-click="hideKeyboard($event)" required>
        </div>
		  </label>
		   <div class="form-errors" ng-show="loginform.nric.$error && loginform.$submitted" ng-messages="loginform.nric.$error" ng-messages-include="templates/form-errors.html"></div>

		  <label class="item item-input item-floating-label row">
        <div class="col">
  		    <span class="input-label">Password *</span>
  		    <input type="tel" class="pwd" name="password" placeholder="Password *" ng-model="loginData.pwd" ng-pattern="/^[0-9]*$/" minlength="6" inputmode="numeric" limit-to="6" required>
        </div>
		  </label>
		  <div class="form-errors" ng-show="loginform.password.$error && loginform.$submitted" ng-messages="loginform.password.$error" ng-messages-include="templates/form-errors.html"></div>
		   
		</div>
		<p class="activate"><a ui-sref="app.activate">Activate Virtual Membership Account</a></p>
		<button type="submit" class="button button-full ion-btn ion-action-btn">Login</button>
		<p class="forgot_pwd"><a ui-sref="app.forgotPwd" style="text-decoration: none">Forgot Password?</a></p>
  	</form>
      
  </ion-content>
   <ion-digit-keyboard settings="keyboardSettings" ng-show="keyboardVisible"></ion-digit-keyboard>
</ion-view>
