<ion-modal class="ps-filtermenu">
	<ion-content ng-click="closePSFilter()">

		<div class="menus animated fadeIn">
		<div class="arrow-up"></div>
			<div class="list padding">
				
				<div class="item" ng-click="chooseChoicePS('All')">
		            All
		          </div>
		           <div class="item" ng-click="chooseChoicePS('Shopping')">
		            Shopping
		          </div>
		           <div class="item" ng-click="chooseChoicePS('Dining')">
		            Dining
		          </div>
		         
		         
			</div>
		</div>

	</ion-content>
</ion-modal>
