<ion-view view-title="" class="privilege" hide-back-button="true">

	<ion-nav-buttons side="left">
      <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
     <ion-nav-title>
      <span ng-if="menu_select=='privilege1'">Privileges</span>
      <span ng-if="menu_select=='gift'">Gifts Availability</span>
    </ion-nav-title>
    
    <div class="bar bar-subheader"> 
      <!-- 
      <div class="bar bar-subheader">
        <div class="button-bar">
          <a class="button privilege-nav-button" ng-click="changeMenu('privilege1')" ng-init="changeMenu('privilege1')" ng-class="{active: menu_select=='privilege1'}">
              <div>Privilege&nbsp;&nbsp;<img src="img/privilege_icon.png">
            </div>
          </a>
          <a class="button privilege-nav-button" ng-click="changeMenu('gift')" ng-class="{active: menu_select=='gift'}">
             <div>Gift&nbsp;&nbsp;<img src="img/gift_icon.png">
            </div>
          </a>
      </div> -->
 
    
    <div class="button-bar-grey" ng-if="menu_select=='privilege1'">
        <a class="privilege-nav-button-grey">
        <div class="row">
          <div class="col"><div class="filter" ng-click="openFilter()">Filter By <i class="icon-arrow-down2"></i><br/>{{filter_choice}} </div></div>
          <div class="col"><i class="ion-android-search"></i><div class="search" ng-click="openPrivilegesSearch()">Search</div></div>
        </div>
        </a>
    </div>

    </div>
  <ion-content class="privilege1 has-subheader" delegate-handle="mainScroll" ng-class="top">
  <!-- <ion-content class="privilege1 has-subheader"  delegate-handle="mainScroll" ng-class="top"> -->
    <ion-refresher
      pulling-text=""
      on-refresh="doRefreshPrivilege1()">
    </ion-refresher>
    
    <div class="list" ng-if="menu_select == 'privilege1'">
      <div class="norecord padding" ng-if="privilege1.length == 0">No record found.</div>
      <div class="item" ng-repeat = "s in privilege1" ng-if= "privilege1.length != 0 && (filter_choice == 'All' || filter_choice == s.type)" >
          
        <div class="privilege-content">
          <div class="inner-content">
            <div class="privi-image" ng-style="{'background':'transparent url('+ s.image +')'}"></div>
            <div class = "privi-shop">{{s.shop}}</div>
            <div class = "privi-valid">{{s.valid_till}}</div>
            <div class = "privi-content privi-off">{{s.description}}</div>
            
            <div class = "privi-content">Terms & Conditions</div>
            <div class = "privi-content">{{s.tnc}}</div>
          </div>
        </div>
          
      </div>
    </div>

    <div class="list gifts" ng-if="menu_select == 'gift'">

      <div class="norecord padding" ng-if="gifts.length == 0">No record found.</div>
      <div class="last-updated" ng-if= "menu_select == 'gift'">
      Last updated on {{last_updated_time}}<br />
      Pull to refresh
      </div>
      <div class="item" ng-repeat = "s in gifts" ng-if= "gift.length != 0">
        <div class="privilege-content">
            <div class="shop">{{s.shop}}</div>
            <div class="qty">{{s.quantity}}</div>
              <div class="bottom_row">
                <div class="col-6 icon"><img src="img/redemption.png"></div>
                <div class = "col-50 date">{{s.points}} pts to redeem</div>
                <div class="col-6 icon"><img src="img/location.png"></div>
                <div class = "col-20 amount">{{s.location}}</div>
                
          </div>
      </div>
    </div>

    
  </ion-content>
</ion-view>