<ion-view view-title="" class="privilege-search" hide-back-button="true">

	<ion-nav-buttons side="left">
      <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
      <label class="item item-input">
        <i class="icon ion-android-search placeholder-icon" ng-if="!search.ps_keyword"></i>
        <input type="text" placeholder="Search privilege" class="search-tb" ng-model="search.ps_keyword" ng-keyup="search_privileges()">
      </label>
      <button class="button button-clear btn-cancel" ng-click="redirect('Privileges')" style="font-size: 15px !important;width: 63px;">Cancel</button>
    </ion-nav-title>
    <div class="bar bar-subheader">
         <div class="button-bar button-bar-grey">
            <a class="privilege-nav-button-grey">
            <div class="row">
              <div class="col"><div class="filter" ng-click="openPSFilter()">Filter By <i class="icon-arrow-down2"></i><br/>{{filter_choice}} </div></div>
              <div class="col"><div class="search">&nbsp;</div></div>
            </div>
            </a>
        </div>
    </div>
   
  <ion-content class="search-result has-subheader">
    <div class="list">
      <div class="norecord padding" ng-if="privilege1.length == 0">No record found.</div>
      <div class="item" ng-repeat = "s in privilege1" ng-if= "privilege1.length != 0 && (filter_choice == 'All' || filter_choice == s.type)">
          
        <div class="privilege-content">
          <div class="inner-content">
            <div class="privi-image" ng-style="{'background':'transparent url('+ s.image +')'}"></div>
            <div class = "privi-shop">{{s.shop}}</div>
            <div class = "privi-valid">{{s.valid_till}}</div>
            <div class = "privi-content privi-off">{{s.description}}</div>
          
            <div class = "privi-content">{{s.termsTitle}}</div>
            <div class = "privi-content">{{s.terms}}</div>
            <div class = "privi-content">Terms & Conditions</div>
            <div class = "privi-content">{{s.tnc}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>