<ion-modal class="rewards">
  <ion-content has-bouncing="false" scroll="false">
      <div class="logo">
        <img src="img/logo.png">
      </div>
      <div class="buttons">
          <button class="button ion-btn" ng-click="redirect('newMember')">New Member</button>
          <button class="button ion-btn" ng-click="redirect('activate')">Existing Member</button>
          <button class="button ion-btn ion-transparent-btn backtoION" ng-click="redirect('backLogin')">Back to Login</button>
      </div>
  </ion-content>
</ion-view>
