<ion-view view-title="Sign Up" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="showRegisterLanding()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-content class="register ">
        <script id="templates/form-errors.html" type="text/ng-template">
            <div class="form-error" ng-message="required">This field is required.</div>
            <div class="form-error" ng-message="minlength">This field must be 8 numeric numbers.</div>
            <div class="form-error" ng-message="pattern">Invalid characters found.</div>
            <div class="form-error" ng-message="maxlength">Maximum length 6 digits.</div>
            <div class="form-error" ng-message="email">You did not enter a valid email.</div>
            <div class="form-error" ng-message="notanumber">This field requires a numeric input.</div>
            <div class="form-error" ng-message="notastring">This field requires an alpha only input.</div>
            <div class="form-error" ng-message="invalidserial">Invalid Serial #.</div>
            <div class="form-error" ng-message="compareTo">Password does not match.</div>

        </script>
        <form name="registerform" ng-submit="doRegister(registerform)" novalidate="">
            <div class="list padding">
                <label class="item item-select item-floating-label gender row" style="padding: 23px;margin-top: 3px;padding-left: 0px !important;left: -7px;">
		    <div class="col">
			    <span class="input-label" ng-class="{nodata: registerData.salutation == ''}" >Salutation *</span>
			     <select name="salutation" ng-model="registerData.salutation" style="height: 52px;top: 15px;" required>
			     	<option value="" disabled selected style="display: none;">Salutation *</option>
				      <option value="{{s.SystemCode}}" ng-repeat="s in salutation">{{s.Name}}</option>
				      
			    </select>
		    </div>
		  </label>
                <div class="form-errors" ng-show="registerform.salutation.$error && registerform.$submitted" ng-messages="registerform.salutation.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
		  	<div class="col">
			    <span class="input-label">Family Name *</span>
			    <input type="text" name="familyName" ng-pattern="/^[a-zA-Z\s]+$/" placeholder="Family Name *" ng-model="registerData.family_name"  required>
		    </div>
		  </label>
                <div class="form-errors" ng-show="registerform.familyName.$error && registerform.$submitted" ng-messages="registerform.familyName.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
		 	<div class="col">
			    <span class="input-label">Given Name *</span>
			    <input type="text" name="givenName" ng-pattern="/^[a-zA-Z\s]+$/" placeholder="Given Name *" ng-model="registerData.given_name"  required>
		    </div>
		  </label>
                <div class="form-errors" ng-show="registerform.familyName.$error && registerform.$submitted" ng-messages="registerform.givenName.$error" ng-messages-include="templates/form-errors.html"></div>
                <div class="row inline-fields">
                    <label class="item item-select item-floating-label gender col col-40" style="padding: 23px;padding-top: 24px;padding-bottom: 0px;margin-top: -9px;padding-left: 0px !important;left: -13px;">
		   
			    <span class="input-label" ng-class="{nodata: registerData.sign_up_id == ''}" style="top:-10px;left:20px">Type *</span>
			     <select name="sign_up_id" ng-model="registerData.sign_up_id" style="height: 30px;top: 37px;padding-right:0px;padding-bottom: 7px" required>
			     	<option value="" disabled selected style="display: none;">Type *</option>
				      <option value="NRIC">NRIC</option>
				      <option value="FIN" selected>FIN</option>
				      <option value="PASSPORT" selected>PASSPORT</option>
			    </select>

		  
		     <div class="form-errors" ng-show="registerform.sign_up_id.$error && registerform.$submitted" ng-messages="registerform.sign_up_id.$error" ng-messages-include="templates/form-errors.html" style="margin-top: 28px;margin-left:20px;"></div>
		  </label>
                    <div class="item item-input item-floating-label col">
                        <!-- <div class="col"> -->
                        <span class="input-label">NRIC / FIN/ Passport *</span>
                        <input type="text" name="nric" placeholder="NRIC / FIN / Passport *" ng-model="registerData.nric" required>
                        <!-- </div> -->
                        <div class="form-errors" ng-show="registerform.nric.$error && registerform.$submitted" ng-messages="registerform.nric.$error" ng-messages-include="templates/form-errors.html"></div>
                    </div>


                </div>

                <label class="item item-select item-floating-label gender row" style="padding: 23px;margin-top: 3px;padding-left: 0px !important;left: -7px;">
		    <div class="col">
			    <span class="input-label" ng-class="{nodata: registerData.gender == ''}" >Gender *</span>
			     <select name="gender" ng-model="registerData.gender" style="height: 52px;top: 15px;" required>
			     	<option value="" disabled selected style="display: none;">Gender *</option>
				      <option value="male">Male</option>
				      <option value="female" selected>Female</option>
			    </select>
		    </div>
		  </label>
                <div class="form-errors" ng-show="registerform.gender.$error && registerform.$submitted" ng-messages="registerform.gender.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-select item-floating-label row">
		  	<div class="col">
			    <span class="input-label">Date of Birth *</span>
			    <input type="date" name="dob" placeholder="Date of Birth *" ng-model="registerData.dob"  required>
		    </div>
		  </label>
                <div class="form-errors" ng-show="registerform.dob.$error && registerform.$submitted" ng-messages="registerform.dob.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-select item-floating-label country row" name="nationality" style="padding: 23px;margin-top: 3px;">
		  <div class="col">
		    <span class="input-label" ng-class="{nodata: registerData.nationality == ''}">Nationality *</span>
		    <select name="nationality"  ng-model="registerData.nationality" style="height: 52px;top: 15px;    left: 13px;" required>
		     	 <option value="" disabled selected style="display: none;">Nationality *</option>
			      <option value="{{n.SystemCode}}" ng-repeat="n in nationality">{{n.Name}}</option>
			     
		      
		    </select>
		    </div>
		   </label>
                <div class="form-errors" ng-show="registerform.nationality.$error && registerform.$submitted" ng-messages="registerform.nationality.$error" ng-messages-include="templates/form-errors.html"></div>


                <!-- <label class="item item-input item-floating-label row gender country_code"> -->
                <!-- <div class="col"> -->
                <!-- {{registerData.country_code == ''}} -->
                <!-- <span class="input-label has-input">Country Code</span> -->
                <!-- <span class="input-label" ng-class="{nodata: registerData.country_code == ''}" >Country Code</span> -->
                <!-- <input type="number" name="country_code" placeholder="Country Code *" ng-model="registerData.country_code" class="inline_field cc" required> -->
                <!-- <div country-code-select name="country_code"  ng-model="registerData.country_code" placeholder="Country Code"></div> -->
                <!-- </div> -->



                <!-- </label> -->


                <div class="row inline-fields">
                    <div class="item item-input item-floating-label gender country_code col">
                        <span class="input-label" ng-class="{nodata: registerData.country_code == ''}">Country Code*</span>
                        <div country-code-select name="country_code" ng-model="registerData.country_code" placeholder="Country Code*"></div>
                        <div class="form-errors" ng-show="registerform.country_code.$error && registerform.$submitted" ng-messages="registerform.country_code.$error" ng-messages-include="templates/form-errors.html"></div>
                    </div>

                    <div class="item item-input item-floating-label col">
                        <span class="input-label">Area Code</span>
                        <input type="tel" ng-pattern="/^[0-9]*$/" inputmode="numeric" name="area_code" placeholder="Area Code" ng-model="registerData.area_code" class="inline_field cc">
                        <!-- <div class="form-errors" ng-show="registerform.area_code.$error && registerform.$submitted" ng-messages="registerform.area_code.$error" ng-messages-include="templates/form-errors.html"></div> -->
                    </div>


                </div>

                <div class="row">
                    <div class="item item-input item-floating-label col">
                        <span class="input-label">Contact *</span>
                        <input type="tel" ng-pattern="/^[0-9]*$/" inputmode="numeric" name="contact" placeholder="Contact *" class="inline_field contact" ng-model="registerData.contact" required>
                        <div class="form-errors" ng-show="registerform.contact.$error && registerform.$submitted" ng-messages="registerform.contact.$error" ng-messages-include="templates/form-errors.html"></div>
                    </div>
                </div>

                <label class="item item-input item-floating-label row">
			   	<div class="col">
				    <span class="input-label">Email *</span>
				    <input type="email" name="email" placeholder="Email *" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model="registerData.email" required>
			    </div>
		  </label>
                <div class="form-errors" ng-show="registerform.email.$error && registerform.$submitted" ng-messages="registerform.email.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-select item-floating-label country row" name="country" style="padding: 23px;margin-top: 3px;">
		  <div class="col">
		    <span class="input-label" ng-class="{nodata: registerData.country == ''}">Country *</span>
		    <select name="country"  ng-model="registerData.country" style="height: 52px;top: 15px;    left: 13px;" required>
		     	 <option value="" disabled selected style="display: none;">Country *</option>
			      <option value="{{c.SystemCode}}" ng-repeat = "c in all_countries">{{c.Name}}</option>
			     
		      
		    </select>
		    </div>
		   </label>
                <div class="form-errors" ng-show="registerform.country.$error && registerform.$submitted" ng-messages="registerform.country.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
		  	<div class="col">
			    <span class="input-label">Block *</span>
			    <input type="text" name="block" placeholder="Block *" ng-model="registerData.block" ng-pattern="/^[a-zA-Z0-9]+$/" required>
		    </div>
		  </label>
                <div class="form-errors" ng-show="registerform.block.$error && registerform.$submitted" ng-messages="registerform.block.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
		  	<div class="col">
			    <span class="input-label">Street *</span>
			    <input type="text" name="street" placeholder="Street *" ng-model="registerData.street" ng-pattern="/^[a-zA-Z0-9-_.+\'\/\s]+$/" required>
		    </div>
		  </label>
                <div class="form-errors" ng-show="registerform.street.$error && registerform.$submitted" ng-messages="registerform.street.$error" ng-messages-include="templates/form-errors.html"></div>

                <div class="row inline-fields">
                    <div class="item item-input item-floating-label item-inline col">
                        <span class="input-label">Level</span>
                        <input type="tel" ng-pattern="/^[0-9]*$/" inputmode="numeric" name="level" placeholder="Level" ng-model="registerData.level">
                        <div class="form-errors" ng-show="registerform.level.$error && registerform.$submitted" ng-messages="registerform.level.$error" ng-messages-include="templates/form-errors.html"></div>
                    </div>

                    <div class="item item-input item-floating-label item-inline col">
                        <span class="input-label">Unit</span>
                        <input type="text" name="unit" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="Unit" ng-model="registerData.unit">
                        <!-- <div class="form-errors" ng-show="registerform.area_code.$error && registerform.$submitted" ng-messages="registerform.area_code.$error" ng-messages-include="templates/form-errors.html"></div> -->
                    </div>

                </div>

                <label class="item item-input item-floating-label row">
		   		<div class="col">
				    <span class="input-label">Postal Code *</span>
				    <input type="tel" ng-pattern="/^[0-9]*$/" inputmode="numeric" name="postal_code" placeholder="Postal Code *" limit-to="10" ng-model="registerData.postal_code" required>
				   
			    </div>
		   </label>
                <div class="form-errors" ng-show="registerform.postal_code.$error && registerform.$submitted" ng-messages="registerform.postal_code.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
		  	<div class="col">
			    <span class="input-label">Building</span>
			    <input type="text" name="building" placeholder="Building" ng-model="registerData.building"  >
		    </div>
		  </label>



                <div class="row">
                    <div class="col">
                        <input id="input_iu" type="checkbox" name="input_iu" ng-model="registerData.input_iu">
                        <label for="input_iu" class="agreement iu_no">Opt for IU No. (optional)</label>

                    </div>
                </div>
                <label class="item item-input item-floating-label row" ng-show="registerData.input_iu">
		    	<div class="col">
				    <span class="input-label">IU No. (optional)</span>
				    <input type="tel" placeholder="IU No. (optional)" limit-to="10" ng-model="registerData.IU_no" >
			    </div>
			 </label>
                <label class="item item-input item-floating-label row">
			 	<div class="col">
				    <span class="input-label">(6-digit) Enter Password *</span>
				    <input type="tel" class="pwd" name="password_1" placeholder="(6-digit) Enter Password *" ng-pattern="/^[0-9]*$/" inputmode="numeric" minlength="6" limit-to="6" ng-model="registerData.password_1" required>
			    </div>
			 </label>
                <div class="form-errors" ng-show="registerform.password_1.$error && !registerform.password_1.$error.minlength && registerform.$submitted" ng-messages="registerform.password_1.$error" ng-messages-include="templates/form-errors.html"></div>
                <div class="form-errors" ng-show="registerform.password_1.$error.minlength && registerform.$submitted">
                    <div class="form-error">Minimum length 6 digits.</div>
                </div>
                <!-- <div class="form-errors" ng-show="registerform.password_1.$error && registerform.$submitted" ng-messages="minlength6" ng-messages-include="templates/form-errors.html"></div> -->
                <label class="item item-input item-floating-label row">
			 	<div class="col">
				    <span class="input-label">(6-digit) Re-enter Password *</span>
				    <!-- <input type="number" class="pwd" name="password_2" placeholder="(6-digit) Enter Password *" pattern="/^[0-9]*$/" inputmode="numeric" maxlength="6" ng-model="registerData.password_2" compare-to="registerData.password_1" required> -->
				    <input type="tel" minlength="6" class="pwd" name="password_2" placeholder="(6-digit) Re-enter Password *" ng-pattern="/^[0-9]*$/" inputmode="numeric" limit-to="6" ng-model="registerData.password_2" compare-to="registerData.password_1" required>
			    </div>
			 </label>
                <div class="form-errors" ng-show="registerform.password_2.$error.minlength && registerform.$submitted">
                    <div class="form-error">Minimum length 6 digits.</div>
                </div>
                <div class="form-errors" ng-show="!registerform.password_2.$error.pattern && !registerform.password_2.$error.minlength && registerform.password_2.$error && registerform.$submitted" ng-messages="registerform.password_2.$error" ng-messages-include="templates/form-errors.html"></div>
                <div class="row">
                    <div class="col">
                        <span class="input-label pdpa-title">I agree to the collection, retention, use and disclosure of my personal data according to the Terms & Conditions, and hereby consent to receiving communication (in such form(s) as indicated below) in connection with ION Orchard’s latest promotions, activities and/or events.</span>
                    </div>
                </div>
                <div class="agree-wrapper row">
                    <div class="col col-22">
                        <input id="sms" type="checkbox" name="sms" ng-model="registerData.pdpa['sms']">
                        <label for="sms" class="agreement pdpa">SMS</label>
                    </div>
                    <div class="col col-22">
                        <input id="pdpa_email" type="checkbox" name="pdpa_email" ng-model="registerData.pdpa['email']">
                        <label for="pdpa_email" class="agreement pdpa">Email</label>
                    </div>

                    <div class="col col-30">
                        <input id="postal_mail" type="checkbox" name="postal_mail" ng-model="registerData.pdpa['post']">
                        <label for="postal_mail" class="agreement pdpa">Postal Mail</label>
                    </div>
                    <div class="col col-22">
                        <input id="call" type="checkbox" name="call" ng-model="registerData.pdpa['call']">
                        <label for="call" class="agreement pdpa">Phone</label>
                    </div>
                </div>
                <!-- <div class="form-errors" ng-show="!registerData.pdpa.sms && !registerData.pdpa.post && registerform.$submitted" ng-messages="registerform.agree.$error" ng-messages-include="templates/form-errors.html"></div>
		  </div> -->
                <div class="agree-wrapper">

                    <input id="agree" type="checkbox" name="agree" ng-model="registerData.agree" required>
                    <label for="agree" class="agreement"></label>
                    <div class="agreement">I Agree to the <a ng-click="gototnc()"><u>Terms & Conditions</u></a></div>

                    <div class="form-errors" ng-show="registerform.agree.$error && registerform.$submitted" ng-messages="registerform.agree.$error" ng-messages-include="templates/form-errors.html"></div>
                </div>

                <!--  <div class="agree-wrapper">
		  	<input id="agree" type="checkbox" name="agree" ng-model="registerData.agree"  required>
            <label for="agree" class="agreement">I Agree to the <a href="">Terms & Conditions</a></label>
             <div class="form-errors" ng-show="registerform.agree.$error && registerform.$submitted" ng-messages="registerform.agree.$error" ng-messages-include="templates/form-errors.html"></div>
          </div> -->

                <!-- <ion-checkbox name="agree" ng-model="registerData.agree" required>I Agree to the <a href="">Terms & Conditions</a></ion-checkbox> -->
                <!-- <div class="form-errors" ng-show="registerform.agree.$error && registerform.$submitted" ng-messages="registerform.agree.$error" ng-messages-include="templates/form-errors.html"></div> -->
                <button type="submit" class="button button-full ion-btn ion-action-btn">Submit</button>

        </form>

    </ion-content>

</ion-view>