<ion-modal class="rewards">
  <ion-content has-bouncing="false" scroll="false">
      <div class="logo">
        <img src="img/logo.png">
      </div>
      <div class="buttons">
          <button class="button ion-btn" ng-click="redirect('login')">Login</button>
          <button class="button ion-btn" ng-click="redirect('register')">Sign Up</button>
          <button class="button ion-btn ion-transparent-btn backtoION" ng-click="backtoION()">Back to ION Orchard</button>
      </div>
  </ion-content>
</ion-view>
