<ion-modal class="samplereceipt">
  <ion-content has-bouncing="false" scroll="false">
      <div class="done button" ng-click="closeImg()">Done</div>
      <div class="receipt_img" >
          <img src="img/sample_receipts.png" width="100%">
      </div>
  </ion-content>
</ion-view>
