<ion-view view-title="Receipt Status" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-content class="scan_result" scroll="false">
        <div class="bigimage" ng-style="{'background':'transparent url('+ image +')'}" ng-click="showReceipt(image)">
            <!-- <img src="{{img}}"> -->

        </div>
        <div class="row smallimages">
            <div class="col" ng-click="switchReceipt(0);" ng-class="{active: id==0}" ng-style="{'background':'transparent url('+ receipts[0].image +')','background-size': 'cover', 'background-position': 'center center'}">
                <div class="overlay">

                    <!-- <img src="img/camera_icon.png" ng-if="receipts[0].img == '' || receipts[0].img == null"> -->
                    <img src="img/reject.png" ng-if="receipts[0].status == 'REJECTED'" class="reject">
                    <img src="img/approved.png" ng-if="receipts[0].status == 'ACCEPTED'">
                    <img src="img/processing.png" ng-if="receipts[0].status == 'PROCESSING'">
                </div>
            </div>
            <div class="col" ng-click="switchReceipt(1)" ng-class="{active: id==1}" ng-style="{'background':'transparent url('+ receipts[1].image +')','background-size': 'cover', 'background-position': 'center center'}" ng-if="receipts[1].image">
                <div class="overlay">
                    <!-- <img src="img/camera_icon.png" ng-if="receipts[1].img == '' || receipts[1].img == null"> -->
                    <img src="img/reject.png" ng-if="receipts[1].status == 'REJECTED'" class="reject">
                    <img src="img/approved.png" ng-if="receipts[1].status == 'ACCEPTED'">
                    <img src="img/processing.png" ng-if="receipts[1].status == 'PROCESSING'">
                </div>
            </div>
            <div class="col" ng-click="switchReceipt(3)" ng-class="{active: id==1}" ng-if="!receipts[1].image">

            </div>
            <div class="col" ng-click="switchReceipt(2)" ng-class="{active: id==2}" ng-style="{'background':'transparent url('+ receipts[2].image +')','background-size': 'cover', 'background-position': 'center center'}" ng-if="receipts[2].image">
                <div class="overlay">
                    <!-- <img src="img/camera_icon.png" ng-if="receipts[2].img == '' || receipts[2].img == null"> -->
                    <img src="img/reject.png" ng-if="receipts[2].status == 'REJECTED'" class="reject">
                    <img src="img/approved.png" ng-if="receipts[2].status == 'ACCEPTED'">
                    <img src="img/processing.png" ng-if="receipts[2].status == 'PROCESSING'">
                </div>
            </div>
            <div class="col" ng-click="switchReceipt(3)" ng-class="{active: id==2}" ng-if="!receipts[2].image">

            </div>
            <div class="col" ng-click="switchReceipt(3)" ng-class="{active: id==3}" ng-style="{'background':'transparent url('+ receipts[3].image +')','background-size': 'cover', 'background-position': 'center center'}" ng-if="receipts[3].image">
                <div class="overlay">
                    <!-- <img src="img/camera_icon.png" ng-if="receipts[3].img == '' || receipts[3].img == null"> -->
                    <img src="img/reject.png" ng-if="receipts[3].status == 'REJECTED'" class="reject">
                    <img src="img/approved.png" ng-if="receipts[3].status == 'ACCEPTED'">
                    <img src="img/processing.png" ng-if="receipts[3].status == 'PROCESSING'">
                </div>
            </div>
            <div class="col" ng-click="switchReceipt(3)" ng-class="{active: id==3}" ng-if="!receipts[3].image">

            </div>
        </div>
        <div class="details padding">
            <div class="date-time">{{datetime}}</div>
            <div class="status" ng-class="status == 'REJECTED'?'red':''">{{status}}</div>
            <div class="clear"></div>
            <h4 class="shopname">{{shopname}}</h4>
            <div class="result">{{rejected_reason}}</div>
            <!-- <div class="result">Receipt Uploaded</div> -->

        </div>

    </ion-content>
</ion-view>