<ion-view view-title="" class="scan_receipts" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
        Scan Receipts

    </ion-nav-title>

    <ion-content has-bouncing="false" class="receipt-content padding">

        <p>Your ION<sup>+</sup> Points and ION Sky Admission tickets will be awarded between 3-5 working days. Thank you for shopping at ION Orchard.</p>

        <button type="button" class="button button-full ion-btn ion-action-btn" ng-click="startOver()">Scan another Receipt </button>

    </ion-content>
</ion-view>