<ion-view view-title="" class="scan_receipts" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
        Scan Receipts

    </ion-nav-title>

    <ion-content has-bouncing="false" class="receipt-content padding">
        <div ng-if="!showResult">
            <div class="padding top-scan">
                Receipts must be uploaded within 7 days of purchase. You are allowed to add 4 same-day receipts per submission. Receipts of different dates must be sent in separate submissions.
            </div>

            <div class="list receipts-shop">
                <div class="item " ng-repeat="r in receipts">
                    <div class="store">{{r.outlet_code}}</div>
                    <div class="upload">Receipt Uploaded</div>
                </div>
            </div>

            <button type="button" class="button button-full ion-btn ion-action-btn" ng-if="receipts.length ==0" ng-click="openStore()">Scan Receipt</button>
            <button type="button" class="button button-full ion-btn ion-action-btn" ng-if="receipts.length > 0 && receipts.length < 4" ng-click="openStore()">Scan Next Receipt</button>
            <button type="button" class="button button-full ion-btn ion-action-btn" ng-if="receipts.length != 0" ng-click="submitReceipt()">Save and Upload</button>

            <div class="padding">
                <!--  <img src="img/sample_receipts.png"/> -->
                <img src="img/sample_receipts.png" ng-click="openImg()" />
            </div>
        </div>
        <div ng-if="showResult">
            <center class="scan_receipt_result">
                <p>Your ION<sup>+</sup> Points and ION Sky Admission tickets will be awarded between 3 - 5 working days.<br/>Thank you for shopping at <br/>ION Orchard.</p>
            </center>

            <button type="button" class="button button-full ion-btn ion-action-btn" ng-click="startOver()">Scan another Receipt </button>
        </div>

    </ion-content>
</ion-view>