<ion-view class="activateMember" view-title="{{title}}" hide-back-button="true">


    <ion-nav-buttons side="left">
      <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-content class="login setPwd padding">
        <script id="templates/form-errors.html" type="text/ng-template">
            <div class="form-error" ng-message="required">This field is required.</div>
            <div class="form-error" ng-message="minlength">Minimum length 6 digits.</div>
            <div class="form-error" ng-message="maxlength">Maximum length 6 digits.</div>
            <div class="form-error" ng-message="email">You did not enter a valid email.</div>
            <div class="form-error" ng-message="notanumber">This field requires a numeric input.</div>
            <div class="form-error" ng-message="notastring">This field requires an alpha only input.</div>
            <div class="form-error" ng-message="invalidserial">Invalid Serial #.</div>
            <div class="form-error" ng-message="compareTo">Password does not match.</div>
            <div class="form-error" ng-message="pattern">Invalid characters found.</div>
        </script>
        <form name="setpwdform" ng-submit="doActivation(setpwdform)" novalidate="">
            <div class="list ">
                <label class="item item-input item-floating-label row">
        <div class="col">
  		    <span class="input-label">NRIC / FIN/ Passport *</span>
  		    <input type="text" name="nric" placeholder="NRIC / FIN / Passport *" ng-model="setPwd_data.nric" disabled required>
        </div>
		  </label>
                <div class="form-errors" ng-show="setpwdform.nric.$error && setpwdform.$submitted" ng-messages="setpwdform.nric.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">Family Name *</span>
          <input type="text" name="family_name" placeholder="Family Name *" ng-model="member_data.family_name"  required>
        </div>
      </label>
                <div class="form-errors" ng-show="setpwdform.family_name.$error && setpwdform.$submitted" ng-messages="setpwdform.family_name.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">Given Name *</span>
          <input type="text" name="given_name" placeholder="Given Name *" ng-model="member_data.given_name"  required>
        </div>
      </label>
                <div class="form-errors" ng-show="setpwdform.given_name.$error && setpwdform.$submitted" ng-messages="setpwdform.given_name.$error" ng-messages-include="templates/form-errors.html"></div>
                <!-- <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">Contact *</span>
          <input type="text" name="contact_num" placeholder="Contact *" ng-model="setPwd_data.contact"  required>
        </div>
      </label>
       <div class="form-errors" ng-show="setpwdform.contact_num.$error && setpwdform.$submitted" ng-messages="setpwdform.contact_num.$error" ng-messages-include="templates/form-errors.html"></div> -->
                <label class="item item-select item-floating-label row gender">
                  <div class="col">
                    <span class="input-label" ng-class="{withdata: member_data.gender != '' && member_data.gender != null}">Gender *</span>
                    <select name="gender" ng-model="member_data.gender" required>
                        <option value="" disabled selected style="display: none;">Gender *</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                      </select>
                  </div>
                </label>
                <div class="form-errors" ng-show="setpwdform.gender.$error && setpwdform.$submitted" ng-messages="setpwdform.gender.$error" ng-messages-include="templates/form-errors.html"></div>
                 <label class="item item-input item-floating-label row">
                  <div class="col">
                    <span class="input-label">IU No. (optional)</span>
                    <input type="tel" name="iu_no" placeholder="IU No. (optional)" limit-to="10" pattern="[0-9]*" inputmode="numeric" ng-model="setPwd_data.IU_no">
                  </div>
               </label>
               
                <label class="item item-select item-floating-label row">
                <div class="col">
                  <span class="input-label">Date of Birth *</span>
                  <input type="date" name="dob" placeholder="Date of Birth *" ng-model="member_data.dob" ng-disabled="dob_disabled" required>
                </div>
              </label>
                <div class="form-errors" ng-show="setpwdform.dob.$error && setpwdform.$submitted" ng-messages="setpwdform.dob.$error" ng-messages-include="templates/form-errors.html"></div>

                <label class="item item-input item-floating-label row">
        <div class="col">
  		    <span class="input-label">Email *</span>
  		    <input type="email" name="email" placeholder="Email *" ng-model="setPwd_data.email" required>
        </div>
		  </label>
                <div class="form-errors" ng-show="setpwdform.email.$error && setpwdform.$submitted" ng-messages="setpwdform.email.$error" ng-messages-include="templates/form-errors.html"></div>

                <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">(6-digit) Enter Password *</span>
          <input type="tel" class="pwd" name="password_1" placeholder="(6-digit) Enter Password *" ng-model="setPwd_data.password_1" ng-pattern="/^[0-9]*$/" inputmode="numeric" minlength="6" limit-to="6" required>
        </div>
      </label>
                <div class="form-errors" ng-show="setpwdform.password_1.$error && setpwdform.$submitted" ng-messages="setpwdform.password_1.$error" ng-messages-include="templates/form-errors.html"></div>
                <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">(6-digit) Re-Enter Password *</span>
          <input type="tel" class="pwd" name="password_2" placeholder="(6-digit) Re-Enter Password *" ng-pattern="/^[0-9]*$/" inputmode="numeric" limit-to="6" ng-model="setPwd_data.password_2" minlength="6" compare-to="setPwd_data.password_1" required>
        </div>
      </label>
                <div class="form-errors" ng-show="setpwdform.password_2.$error && setpwdform.$submitted" ng-messages="setpwdform.password_2.$error" ng-messages-include="templates/form-errors.html"></div>
                <!-- <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">Contact *</span>
          <input type="number" name="contact" placeholder="Contact *" ng-model="activateData.contact" required>
        </div>
      </label>
      <div class="form-errors" ng-show="activateform.contact.$error && activateform.$submitted" ng-messages="activateform.contact.$error" ng-messages-include="templates/form-errors.html"></div>
      <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">Date of Birth *</span>
          <input type="date" name="dob" placeholder="Date of Birth *" ng-model="activateData.dob"  required>
        </div>
      </label>
      <div class="form-errors" ng-show="activateform.dob.$error && activateform.$submitted" ng-messages="activateform.dob.$error" ng-messages-include="templates/form-errors.html"></div>
      <label class="item item-input item-floating-label row">
        <div class="col">
          <span class="input-label">Email *</span>
          <input type="email" name="email" placeholder="Email *" ng-model="activateData.email"  required>
        </div>
      </label>
      <div class="form-errors" ng-show="activateform.email.$error && activateform.$submitted" ng-messages="activateform.email.$error" ng-messages-include="templates/form-errors.html"></div> -->


                <!-- <ion-checkbox name="agreement" ng-model="activateData.agree" required>I Agree to the <a href="">Terms & Conditions</a></ion-checkbox> -->

                <button type="submit" class="button button-full ion-btn ion-action-btn">Next</button>

        </form>

    </ion-content>
    <ion-digit-keyboard settings="keyboardSettings" ng-show="keyboardVisible"></ion-digit-keyboard>
</ion-view>