<ion-modal>
    <ion-content class="fullreceipt" ng-click="" has-bouncing="false">
        <button class="button button-clear done-btn" ng-click="closeReceipt()">Done</button><br/>
        <img src="{{receipt_img}}">
    </ion-content>
</ion-modal>