<ion-modal class="store">
    <div class="bar bar-header bar-light">

        <button class="button back_btn" ng-click="closeStore()">
      Cancel
    </button>
        <h1 class="title">Select Store</h1>

    </div>
    <div class="bar bar-subheader">
        <div class="purple-bar">
            <!-- <span class="alpha-title">ALPHABETICAL</span> -->
            <span class="arrow left"><img src="img/left-arrow.png"></span>
            <ion-scroll direction="x">
                <button class="button button-clear" ng-repeat="firstChar in firstChars" ng-click="scrollToAnchor(firstChar)">{{firstChar}}</button>
            </ion-scroll>
            <span class="arrow right"><img src="img/right-arrow.png"></span>
        </div>
    </div>
    <ion-content class="has-header has-subheader shoplisting" has-bouncing="false" delegate-handle="mainScroll">

        <div class="search-wrapper">
            <div class="list list-inset">
                <label class="item item-input">
          <i class="icon ion-ios-search item-icon-left" ng-if="!searchFilter"></i>
          <input type="search" class="search" placeholder="Search" ng-model="searchFilter">
        </label>
            </div>
        </div>

        <div class="list">
            <div ng-repeat="firstChar in firstChars" ng-init="outer_index = $index">

                <div class="item item-divider" ng-if="!searchFilter" id="header-{{firstChar}}">
                    {{firstChar}}
                </div>

                <div class="item outlet_name" ng-repeat="shop in names[outer_index] | filter:searchFilter" ng-click="selectStore(shop.outlet_code)">
                    {{shop.outlet_code}}
                </div>


            </div>
        </div>



        </div>


    </ion-content>
    </ion-view>