<ion-modal class="{{show_preview?'show_preview':''}}">
    <!--<ion-nav-buttons side="left">
    </ion-nav-buttons>-->

    <ion-content class="scan_receipt body" has-bouncing="false">
        <button class="button button-clear button-small back_btn scan_receipt_back" ng-click="clearCloseScanReceiptPopover()">
            <img style="width:25px" src="img/backarrow.png">
        </button>
        <div style="background: url({{currentCapture[0] + '?' + pictimestamp}}) no-repeat;background-size: cover; background-position:center;height:100%;width:100%; " ng-if="currentCapture.length >= 1 && show_preview">
        </div>
        <div style="background: url({{currentCapture[1] + '?' + pictimestamp}}) no-repeat;background-size: cover; background-position:center;height:100%;width:100%;" ng-if="currentCapture.length >= 2 && show_preview">
        </div>
       <!--  <img src="{{currentCapture[0] + '?' + pictimestamp}}" style="height:100%;min-height:100%;min-width:100%;display: block;margin: 0 auto;" ng-if="currentCapture.length >= 1 && show_preview" align="center" />
        <img src="{{currentCapture[1] + '?' + pictimestamp}}" style="height:100%;min-height:100%;min-width:100%;display: block;margin: 0 auto;" ng-if="currentCapture.length >= 2 && show_preview" align="center" /> -->
        <!--<center><img src="{{currentCapture[0] + '?' + pictimestamp}}" style="height:100%" ng-if="currentCapture.length >= 1 && show_preview" /></center>
        <center><img src="{{currentCapture[1] + '?' + pictimestamp}}" style="height:100%" ng-if="currentCapture.length >= 2 && show_preview" /></center>-->
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark take-receipt-footer" ng-if="!hide_footer">
        <div class="buttons">
            <button class="button button-clear" ng-click="takeFromGallery();" ng-if="currentCapture.length<1">Gallery</button>
        </div>
        <h1 class="title"><button class="take-picture-button" ng-click="takePicture();">{{currentCapture.length>0?currentCapture.length:""}}</button></h1>
        <div class="buttons" ng-click="closeScanReceiptPopover()">
            <button class="button button-clear" ng-if="currentCapture.length>0">Done</button>
        </div>
    </ion-footer-bar>

    <ion-footer-bar align-title="center" class="bar-dark take-receipt-footer" ng-if="hide_footer && show_preview">
        <div class="buttons">
            <button class="button button-clear" ng-click="noUseScanReceipt();">Cancel</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons" ng-click="useScanReceipt();">
            <button class="button button-clear">Use</button>
        </div>
    </ion-footer-bar>
</ion-modal>