<ion-view view-title="" class="total_points" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
        ION<sup>+</sup> Points & Carpark $

    </ion-nav-title>

    <ion-content has-bouncing="false" class="padding">
        <!--  <ion-refresher
      pulling-text=""
      on-refresh="doRefreshTotalPoints()">
    </ion-refresher> -->

        <div class="total">
            <div class="header">
                ION<sup>+</sup> Points & Carpark $
            </div>
            <div class="content">
                <!-- <div class="totalpoint">
          {{points.ion_points_curr_cycle + points.ion_points_prev_cycle | number: 2}}
        </div> -->
                <div class="showpoints">
                    <div class="left">
                        ION<sup>+</sup> Points
                    </div>
                    <div class="right">
                        {{points.ion_points_curr_cycle + points.ion_points_prev_cycle}}
                    </div>
                </div>
                <br/>
                <div class="showpoints">
                    <div class="left">
                        Carpark $
                    </div>
                    <div class="right">
                        <span ng-if="!points.carpark_points[1] && points.carpark_points.length > 0">${{points.carpark_points[0].points | number: 2}}</span>
                        <span ng-if="points.carpark_points[1] && points.carpark_points.length > 0">${{points.carpark_points[0].points + points.carpark_points[1].points | number: 2}}</span>
                        <span ng-if="points.carpark_points.length == 0">$0.00</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="points">
            <div class="header">
                ION<sup>+</sup> Points
            </div>
            <div class="content">
                <div class="left">
                    <div class="point">
                        {{points.ion_points_curr_cycle}}
                    </div>
                    <div class="text">
                        Current Points expiring
                    </div>
                    <div class="date">
                        {{points.ion_points_curr_expiry | date:'dd MMM yyyy'}}
                    </div>
                </div>
                <div class="right">
                    <div class="point">
                        {{points.ion_points_prev_cycle}}
                    </div>
                    <div class="text">
                        Redeem Grace Points by
                    </div>
                    <div class="date" ng-if="points.ion_points_prev_expiry != 'Invalid Date'">
                        {{points.ion_points_prev_expiry | date:'dd MMM yyyy'}}
                    </div>
                    <div class="date" ng-if="points.ion_points_prev_expiry == 'Invalid Date'">
                        -
                    </div>
                </div>
            </div>
        </div>

        <div class="points">
            <div class="header">
                Carpark $
            </div>
            <div class="content">

                <div class="left">
                    <div class="point">
                        <span ng-if="points.carpark_points[0]">${{points.carpark_points[0]['points'] | number: 2}}</span>
                        <span ng-if="!points.carpark_points[0]">$0.00</span>
                    </div>
                    <div class="text">
                        Current Points expiring
                    </div>
                    <div class="date">
                        <span ng-if="points.carpark_points[0]">{{points.carpark_points[0]['expiry_date'] | date:'dd MMM yyyy'}}</span>
                        <span ng-if="!points.carpark_points[0]">-</span>
                    </div>
                </div>
                <div class="right">
                    <div class="point">
                        <span ng-if="points.carpark_points[1]">${{points.carpark_points[1]['points'] | number:2}}</span>
                        <span ng-if="!points.carpark_points[1]">$0.00</span>
                    </div>
                    <div class="text">
                        Redeem Grace Points by
                    </div>
                    <div class="date">
                        <span>{{points.carpark_points[1]['expiry_date'] | date:'dd MMM yyyy'}}</span>
                        <span ng-if="!points.carpark_points[1]">-</span>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>