<ion-view view-title="" class="transaction" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button back_btn" ng-click="backView()">
       	<img src="img/backarrow.png">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
        History&nbsp;&nbsp;&nbsp;<i class="ion-ios-help-outline" style="font-size:26px;position: relative;right: 1px;top: 4px;" ng-click="openLegends()"></i>

    </ion-nav-title>
    <div class="bar bar-subheader">
        <div class="button-bar">
            <a class="button transaction-nav-button" ng-click="changeMenu('spending')" ng-init="changeMenu('spending')" ng-class="{active: menu_select=='spending'}">
                <div>Spending&nbsp;&nbsp;<img src="img/spending_icon.png"></div>
            </a>
            <a class="button transaction-nav-button" ng-click="changeMenu('receipt')" ng-class="{active: menu_select=='receipt'}">
                <div>Receipt&nbsp;&nbsp;<img src="img/receipt_icon.png"></div>
            </a>
            <a class="button transaction-nav-button" ng-click="changeMenu('redemption')" ng-class="{active: menu_select=='redemption'}">
                <div>Redemption&nbsp;&nbsp;<img src="img/redemp_icon.png"></div>
            </a>
        </div>
    </div>
    <ion-content class="spending has-subheader">
        <ion-refresher pulling-text="" on-refresh="doRefreshSpending()">
        </ion-refresher>

        <div class="list" ng-if="menu_select == 'spending'">
            <div class="norecord padding" ng-if="spending.length == 0">No record found.</div>
            <div class="item spendings" ng-repeat="s in spending" ng-if="spending.length != 0">
                <div class="left">

                    <div class="shop">{{s.shop}}</div>
                    <div class="bottom_row">
                        <div class="icon"><img src="img/calendar.png"></div>
                        <div class="date">{{s.date | date:'yyyy-MM-dd'}}</div>
                        <div class="icon"><img src="img/amt_icon.png"></div>
                        <div class="amount" style="margin-right: 3px;">${{s.amount_spend}}</div>
                        <div class="icon"><img src="img/ion_icon.png" style="width:23px;"></div>
                        <div class="points">{{s.earned_points}}</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="list" ng-if="menu_select == 'receipt'">

            <div class="norecord padding" ng-if="receipt.length == 0">No record found.</div>
            <div class="last-updated" ng-if="receipt.length != 0">
                Last updated on {{last_updated_time}}<br /> Pull to refresh
            </div>
            <div class="item" ng-repeat="s in receipt" ng-if="receipt.length != 0" ui-sref="app.scanresults({id:$index})">
                <div class="left">
                    <div class="bottom_row">
                        <div class="icon"><img src="img/calendar.png"></div>
                        <div class="datetime">{{s.date | date:'yyyy-MM-dd'}}</div>
                    </div>
                    <div class="bottom_row">
                        <div class="receiptspace">&nbsp;</div>
                        <div class="receiptinfo" ng-class="s.status == 'REJECTED'?'red':''">{{s.status}}</div>
                    </div>
                </div>
                <div class="right">
                    <div class="arrow"><img src="img/arrow.png"></div>
                </div>
            </div>
        </div>

        <div class="list" ng-if="menu_select == 'redemption'">
            <div class="norecord padding" ng-if="redemption.length == 0">No record found.</div>
            <div class="item" ng-repeat="s in redemption" ng-if="redemption.length != 0">
                <div class="">

                    <div class="shop">{{s.desc}}</div>
                    <div class="redemption row">
                        <div class="col col-6"><img src="img/calendar.png" style="width:15px;"></div>
                        <div class="col col-27 date_time">{{s.date_time | date:'yyyy-MM-dd'}}</div>
                        <!--  <div class="col col-6"><img src="img/amt_icon.png" style="width:15px;"></div>
              <div class="col col-12">{{s.amount_spend}}</div> -->
                        <div class="col col-8"><img src="img/ion_icon.png" style="width:23px;"></div>
                        <div class="col col-15">{{s.earned_points}}</div>
                        <div class="col col-6"><img src="img/car_icon.png" style="width:15px;"></div>
                        <div class="col col-15">{{s.carpark_points}}</div>
                        <!--<div class="col col-6"><img src="img/used_icon.png" style="width:15px;"></div>
                        <div class="col col-5">{{s.used_points}}</div>-->

                    </div>

                </div>

            </div>
        </div>

    </ion-content>
</ion-view>