/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/lib/font-awesome/scss/font-awesome";
@font-face {
    font-family: 'gotham-book';
    src: url('../font/GothamRounded-Book.eot');
    /* IE9 Compat Modes */
    src: url('../font/GothamRounded-Book.eot?#iefix') format('embedded-opentype'), /* Super Modern Browsers */
    url('../font/GothamRounded-Book.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/GothamRounded-Book.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/GothamRounded-Book.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'gotham-light';
    src: url('../font/GothamRounded-Light.eot');
    /* IE9 Compat Modes */
    src: url('../font/GothamRounded-Light.eot?#iefix') format('embedded-opentype'), /* Super Modern Browsers */
    url('../font/GothamRounded-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/GothamRounded-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/GothamRounded-Light.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'gotham-medium';
    src: url('../font/GothamRounded-Medium.eot');
    /* IE9 Compat Modes */
    src: url('../font/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'), /* Super Modern Browsers */
    url('../font/GothamRounded-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/GothamRounded-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/GothamRounded-Medium.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.eot');
    /* IE9 Compat Modes */
    src: url('../font/icomoon.eot?#iefix') format('embedded-opentype'), /* Super Modern Browsers */
    url('../font/icomoon.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/icomoon.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/icomoon.svg#icomoon') format('svg');
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

$login-bg: '../img/bg_login.png';
$gothambook: 'gotham-book';
$gothamlight: 'gotham-light';
$gothammedium: 'gotham-medium';
$icomoon: 'iconmoon';
$ion-colour: #9d338b;
$default-colour: #818284;
$placeholder-colour: #a0a0a0;
$grey-colour: #374249;
body,
button {
    font-family: $gothambook;
}

b {
    font-family: $gothammedium;
    /*font-weight: 700;*/
}

.two-line-title {
    margin-top: 6px;
    line-height: 19px !important;
    font-size: 18px;
    display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bar-stable .button {
    background: transparent !important;
}

.ion-btn {
    background: $ion-colour;
    /*font-weight: 700;*/
    color: #fff;
    border-radius: 5px;
    font-family: $gothammedium;
    font-size: 18px;
}

.ion-transparent-btn {
    background: rgba(255, 255, 255, 0.6);
    min-height: 30px;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    color: $ion-colour;
    font-style: italic;
    border-radius: 0px;
}

.ion-btn.activated {
    background: $ion-colour;
    font-weight: 700;
    color: #fff;
    border: none;
}

.ion-transparent-btn.activated {
    background: rgba(255, 255, 255, 0.6);
    color: $ion-colour;
}

.ion-btn:hover {
    color: #fff;
    font-weight: normal;
}

.backtoION:hover {
    color: $ion-colour;
    font-weight: normal;
}

.ion-action-btn {
    border-radius: 0px;
}

.bar .title {
    color: #9d338b !important;
    font-weight: 200;
    font-family: $gothammedium;
    font-size: 1.4em;
    top: 2px;
}

.platform-android .bar .title {
    top: 3px !important;
}

.bar-subheader {
    padding: 0px;
}

input.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required,
input.ng-untouched.ng-not-empty.ng-dirty.ng-valid-date.ng-valid.ng-valid-required {
    background: transparent;
}

input {
    font-family: $gothambook;
}

.ng-empty:before {
    color: $placeholder-colour;
    content: attr(placeholder);
    background: transparent;
    font-size: 16px;
    font-family: $gothambook;
}

.ng-not-empty:before {
    content: "";
    font-family: $gothambook;
}

.item-select:after {
    border-top: 0px !important;
    border: none;
}

a,
h4 {
    color: $ion-colour;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 16px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 16px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 16px;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 16px;
}

.left-buttons {
    .button {
        border: none;
    }
    .back_btn {
        text-align: left;
        img {
            width: 45%;
            margin-top: 10px;
        }
    }
}

.input-label {
    color: $default-colour;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: white !important;
}

[nav-bar-transition="android"] [nav-bar="active"] .bar,
[nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: white;
    border: 0px;
}

input[type="radio"],
input[type="checkbox"] {
    border: none;
}

.pwd {
    -webkit-text-security: disc;
}

.bar-stable .button {
    background: white;
}

.digit-keyboard .digit-keyboard-row:first-child {
    border-top: none !important;
}

.digit-keyboard .digit-keyboard-row .digit-keyboard-key-wrapper:first-child .digit-keyboard-key {
    border-left: none !important;
}

.digit-keyboard .digit-keyboard-row .digit-keyboard-key-wrapper:last-child .digit-keyboard-key {
    border-right: none !important;
    border-left: none !important;
}

.digit-keyboard .digit-keyboard-row:last-child .digit-keyboard-key-wrapper .digit-keyboard-key {
    border-bottom: none !important;
}

.digit-keyboard.keyboard-light * {
    border-color: #8d8d8d!important;
}

.rewards {
    background: url($login-bg) no-repeat;
    background-size: contain;
    height: 1334px;
    .logo {
        text-align: center;
        margin-top: 20%;
        img {
            width: 30%;
        }
    }
    .buttons {
        text-align: center;
        margin-top: 80%;
    }
    .ion-btn {
        width: 75%;
        margin-bottom: 8px;
    }
}

.login,
.register {
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: $gothambook;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        font-family: $gothambook;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        font-family: $gothambook;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        font-family: $gothambook;
    }
    input[type="date"] {
        background: transparent;
        width: 100%;
    }
    .inline-fields {
        .form-error {
            // font-size: 10px;
            // padding: 0px;
            padding-left: 0px;
            font-size: 14px;
            padding: 5px 4px;
            white-space: normal;
        }
    }
    input[type=checkbox] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        display: inline-block;
    }
    input[type=checkbox]~label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f096";
        letter-spacing: 10px;
        font-size: 1.5em;
        width: 1.4em;
        color: #000;
        font-style: normal;
    }
    input[type=checkbox]:checked~label:before {
        content: "\f046";
        font-size: 1.5em;
        color: #000;
        letter-spacing: 5px;
        font-style: normal;
    }
    .agree-wrapper {
        text-align: center;
    }
    .item {
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border: 0px;
    }
    .item-input input {
        width: 100%;
    }
    .input-label {
        font-size: 12px;
        padding-top: 0px;
    }
    .activate {
        text-align: center;
        /*margin-top:50px;*/
        a {
            border-bottom: 1px solid $ion-colour;
            color: #818284;
            font-family: $gothammedium;
            text-decoration: none;
        }
    }
    .forgot_pwd {
        text-align: center;
        a {
            color: #818284;
            font-family: $gothambook;
            font-weight: 700;
        }
    }
    input[disabled],
    select[disabled],
    textarea[disabled],
    input[readonly]:not(.cloned-text-input),
    textarea[readonly]:not(.cloned-text-input),
    select[readonly] {
        background-color: transparent;
        cursor: initial;
        color: #000;
    }
    .item-select {
        /*padding: 6px 0 5px 16px;*/
    }
    .item-select select {
        left: 10px;
        direction: ltr;
        background: transparent;
        width: 95%;
        max-width: 100%;
        border-bottom: 1px solid #ddd;
        left: 19px;
        padding: 0 48px 0 0px;
        border-radius: 0px;
        font-family: $gothambook;
        /*color: $placeholder-colour;
		font-family: $gothambook;
		font-size:16px;*/
    }
    .input[disabled] {
        color: #000;
    }
    input,
    select {
        font-size: 18px;
        border-bottom: 1px solid #ddd;
        padding-right: 0px;
        font-family: $gothambook;
    }
    .item-select option {
        color: #000;
    }
    option:disabled {
        color: $placeholder-colour;
        font-size: 16px;
    }
    .gender .input-label,
    .country .input-label {
        top: -17px;
        left: 13px;
        opacity: 1;
    }
    .country .input-label {
        left: -16px;
    }
    .country_code .input-label {
        top: 0px !important;
        left: 0px !important;
    }
    .gender .nodata,
    .country .nodata {
        opacity: 0;
    }
    .gender .ng-empty,
    .country .ng-empty {
        color: $placeholder-colour;
        font-family: $gothambook;
        font-size: 16px;
    }
    .checkbox input,
    .checkbox-icon {
        width: 22px;
        height: 22px;
    }
    .checkbox input:before,
    .checkbox-icon:before {
        border-radius: 0px;
    }
    .checkbox input:checked:before,
    .checkbox input:checked+.checkbox-icon:before {
        background-color: transparent;
        border-color: #000;
    }
    .checkbox input:before,
    .checkbox .checkbox-icon:before {
        border-color: #000;
        border-width: 2px;
    }
    /*.checkbox input:after, .checkbox-icon:after
	{
		    
   		border: 1px solid $ion-colour;

	}*/
    .item-checkbox {
        padding-left: 45px;
        padding-top: 5px;
        font-size: 12px;
        border-bottom: 0px;
        color: $ion-colour;
        font-style: italic;
        width: 270px;
        margin: 0 auto;
    }
    .form-error {
        padding-left: 12px;
        color: red;
    }
    .error {
        padding-left: 0px !important;
        font-size: 14px !important;
    }
    .checkbox input:after,
    .checkbox-icon:after {
        border: 2px solid $ion-colour;
        border-top: 0;
        border-right: 0;
        top: 5%;
        left: 25%;
        width: 17px;
        height: 6px;
    }
    .pwd {
        -webkit-text-security: disc;
    }
    .agreement {
        color: $ion-colour;
        font-style: italic;
        display: inline-block;
    }
    .iu_no,
    .pdpa {
        font-style: normal;
    }
    .input-icon {
        display: inline-block !important;
        width: 90% !important;
    }
    .placeholder-icon {
        position: absolute;
        font-size: 16px;
        top: 31px;
        right: 13px;
        color: #bdbcbc;
    }
    .select-icon {
        position: absolute;
        right: 13px;
        top: 32px;
    }
    .cc {
        padding-right: 0px;
    }
    .pdpa {
        font-size: 12px;
    }
    .pdpa-title {
        width: 100%;
        max-width: 100%;
    }
    /*.inline_field
	{
		display: inline-block;
	}
	.cc{
		width:30%;
	}
	.contact{
		width: 70%;
	}*/
}

.editprofile {
    .country .nodata {
        opacity: 1;
    }
}

.activateMember {
    .title-right {
        margin-top: 9px;
        line-height: 17px !important;
    }
    .pwd {
        -webkit-text-security: disc;
    }
    input[type=checkbox] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    input[type=checkbox]~label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f096";
        letter-spacing: 10px;
        font-size: 1.5em;
        width: 1.4em;
        font-style: normal;
        color: #000;
    }
    input[type=checkbox]:checked~label:before {
        content: "\f046";
        font-size: 1.5em;
        color: #9d338b;
        letter-spacing: 5px;
        color: $ion-colour;
    }
    .agreement {
        color: $ion-colour;
        font-style: italic;
        display: inline-block;
    }
    .tnc {
        margin-top: 10px;
        text-align: center;
    }
}

.setPwd {
    select {
        left: 10px !important;
        top: 24px;
        font-family: $gothambook;
        font-size: 18px;
    }
    input[type="date"] {
        font-size: 18px;
    }
    option:disabled {
        color: $placeholder-colour;
    }
    .gender {
        padding-top: 30px;
        .input-label {
            opacity: 0;
        }
        .withdata {
            opacity: 1;
            top: -28px;
            left: 0px;
        }
    }
}

.transaction {
    .item {
        /*padding: 5px 12px 5px 12px;*/
        padding: 10px 12px 10px 12px;
        height: 82px;
        /*padding-left: 12px;
    	padding-right: 12px;*/
    }
    .last-updated {
        font-size: 12px;
        text-align: center;
        color: #9d338b;
        padding: 5px;
    }
    .button-bar>.button:first-child,
    .button-bar>.button:last-child {
        border-radius: 0px;
    }
    .transaction-nav-button {
        background: #8a297b;
        color: #fff;
        font-size: 13px;
        border-right: 2px solid #9e338d;
        font-family: $gothammedium;
        line-height: 42px !important;
        img {
            width: 16%;
            position: absolute;
            top: 13px;
        }
        div {
            position: relative;
            left: -6px;
        }
    }
    .transaction-nav-button.active {
        background: #9e338d;
        border-top: 0px;
        border-left: 0px;
        border-color: #9e338d;
    }
    .transaction-nav-button.activated {
        border-color: #9e338d;
    }
    .red {
        color: red;
    }
    /*.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader
	{
		top:100px;
	}*/
    .left {
        float: left;
        width: 220px;
    }
    .right {
        float: right;
    }
    .bottom_row {
        /*margin-top: 5px;*/
        font-size: 0.82em;
        div {
            display: inline-block;
        }
    }
    .spendings {
        .shop {
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        .left {
            width: 100%;
        }
    }
    .shop {
        font-family: $gothammedium;
        /*text-transform: uppercase;*/
        color: $ion-colour;
        margin-bottom: 0px;
    }
    .icon {
        text-align: center;
        img {
            width: 55%;
        }
    }
    .arrow {
        text-align: right;
        position: relative;
        top: 9px;
        img {
            width: 50%;
        }
    }
    .norecord {
        background: #50585f;
        color: #fff;
        font-size: 14px;
        margin-top: 5px;
        padding: 5px;
        padding-left: 10px;
    }
    .item:nth-child(even) {
        background: #e6e6e6;
    }
    .redemption {
        .date_time {
            white-space: normal;
        }
        .col {
            font-size: 14px;
        }
        .col.col-6:first-child {
            padding-left: 0px;
        }
    }
}

.legends {
    background: rgba(255, 255, 255, 0.8);
    font-family: $gothammedium;
    color: $ion-colour;
    .details {
        width: 55%;
        border: 1px solid $ion-colour;
        background: #fff;
        position: absolute;
        left: 23%;
        top: 250px;
        div {
            margin-bottom: 10px;
        }
    }
    .receipt {
        text-align: center;
        img {
            position: relative;
            top: 2px;
            left: -12px;
            width: 70%;
        }
    }
    table {
        margin: 0 auto;
    }
    td:nth-child(odd) {
        text-align: center;
    }
    td {
        vertical-align: middle;
        line-height: 28px;
    }
    .spending {
        img {
            width: 50%;
        }
        td {
            padding-top: 8px;
        }
    }
    .redemption {
        padding-left: 0px;
        img {
            width: 36%;
        }
        td {
            padding-top: 8px;
        }
    }
    .gift {
        padding-left: 0px;
        img {
            width: 60%;
        }
        td {
            padding-top: 8px;
        }
    }
}

.spending {
    .list {
        /*background: #efeff5;*/
    }
    .datetime {
        font-family: "gotham-medium";
        text-transform: uppercase;
        color: #9d338b;
        font-size: 16px;
    }
    .receiptinfo {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
    }
    .receiptspace {
        width: 8%;
    }
    .redemptiondate {
        width: 24%;
    }
    .redemption {
        padding: 0px;
        font-size: 12px;
        .redemptiondate,
        .amount,
        .points,
        .carpark,
        .used_point {
            font-size: 0.9em;
            font-weight: bold;
        }
        .icon img {
            width: 55%;
        }
    }
}

.privilege {
    .bar {
        display: initial !important;
    }
    .has-subheader {
        /*top: 150px !important;*/
    }
    .button-bar-grey {
        margin-top: 0px;
        background: #dfdfdf;
        font-size: 0.97em;
    }
    .button-bar>.button:first-child,
    .button-bar>.button:last-child {
        border-radius: 0px;
    }
    .norecord {
        background: #50585f;
        color: #fff;
        font-size: 14px;
        margin-top: 5px;
        padding: 5px;
        padding-left: 10px;
    }
    .privilege-nav-button {
        background: #8a297b;
        color: #fff;
        font-size: 13px;
        padding-top: 3px;
        border-right: 2px solid #9e338d;
        font-family: $gothammedium;
        height: 43px;
        line-height: 37px;
        img {
            width: 16%;
            position: absolute;
            top: 3px;
        }
        div {
            position: relative;
            left: -6px;
        }
    }
    .privilege-nav-button.active {
        background: #9e338d;
        border-top: 0px;
        border-left: 0px;
        border-color: #9e338d;
    }
    .privilege-nav-button.activated {
        border-color: #9e338d;
    }
    .privilege-nav-button-grey {
        color: #000;
        font-size: 0.90em;
        font-family: $gothammedium;
        background: #dfdfdf;
        img {
            width: 40%;
            position: absolute;
            top: 13px;
        }
        div {
            position: relative;
            div {
                width: 50%;
                /*text-align:center;*/
                margin: 0 auto;
            }
        }
        .filter {
            width: 40%;
            line-height: 13px;
        }
    }
    .privilege-nav-button-grey.active {
        background: #dfdfdf;
        border-top: 0px;
        border-left: 0px;
        border-color: #dfdfdf;
    }
    .privilege-nav-button-grey.activated {
        border-color: #9e338d;
    }
    .left {
        float: left;
        width: 300px;
    }
    .right {
        float: right;
    }
    .bottom_row {
        margin-top: 5px;
        font-size: 14px;
        div {
            display: inline-block;
        }
    }
    .privi-image img {
        width: 100%;
        height: auto;
        padding: 5px;
    }
    .privi-shop {
        font-family: $gothammedium;
        /*text-transform: uppercase;*/
        color: $ion-colour;
    }
    .privi-valid {
        font-family: $gothammedium;
        margin-bottom: 5px;
        font-size: 0.90em;
        /*text-transform: uppercase;*/
    }
    .privi-content {
        /*color: $ion-colour;*/
        font-size: 0.74em;
        white-space: normal;
    }
    .privi-off {
        margin-bottom: 10px;
    }
    .icon {
        text-align: center;
        img {
            width: 75%;
        }
    }
    .arrow {
        text-align: right;
        position: relative;
        top: 14px;
        img {
            width: 50%;
        }
    }
    .norecord {
        background: #50585f;
        color: #fff;
        font-size: 14px;
        margin-top: 5px;
    }
    .item {
        border: 0px;
    }
    .privilege-content {
        border: 1px solid #767779;
        overflow: hidden;
        .inner-content {
            padding: 8px;
            // height: 300px;
        }
        .privi-image {
            height: 141px;
            background-size: 100% !important;
            background-repeat: no-repeat !important;
            margin-bottom: 10px;
            background-position: center center !important;
        }
    }
    .gifts {
        /*background: #efeff5;*/
        color: $ion-colour;
        .item {
            padding: 0px;
            padding-left: 12px;
            padding-right: 12px;
        }
        .privilege-content {
            padding: 10px;
            border: none;
        }
        .shop {
            font-family: $gothammedium;
            color: $ion-colour;
            display: inline-block;
            width: 60%;
        }
        .qty {
            display: inline-block;
            text-align: right;
            width: 40%;
            font-size: 14px;
            font-family: $gothammedium;
            color: $ion-colour;
        }
        .item:nth-child(odd) {
            background: #e6e6e6;
        }
    }
    .last-updated {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 12px;
    }
    .gift-top {
        top: 109px !important;
        z-index: 9;
    }
    .fa {
        position: absolute;
    }
    .fa-arrow-down {
        top: 7px;
        right: -6px;
    }
    .fa-search {
        position: absolute;
        left: 50px;
        top: 8px;
    }
    .search {
        text-align: center;
    }
    .icon-arrow-down2 {
        position: absolute;
        top: 5px;
        font-size: 14px;
        /*right: -8px;*/
    }
    .icon-arrow-down2:before {
        content: "\ea3e";
    }
    .icon-search:before {
        content: "\e986";
    }
    .ion-android-search {
        /*display: inline-block;*/
        position: relative;
        left: 56px;
        font-size: 16px;
        top: 2px;
    }
    .search {
        display: inline-block;
        left: 40px;
    }
}

.header-item {
    .item-input {
        background-color: #e6e6e6;
        border: none;
        border-radius: 5px;
        margin-top: 3px;
        width: 80%;
        input {
            height: auto;
        }
    }
    .btn-cancel {
        position: absolute;
        top: 0px;
        right: -7px;
        color: $ion-colour !important;
        font-size: 13px !important;
        width: 55px;
    }
}

.search-tb::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px !important;
    font-family: $gothambook;
    text-align: center;
}

.search-tb::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14px !important;
    font-family: $gothambook;
    text-align: center;
}

.search-tb:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14px !important;
    font-family: $gothambook;
    text-align: center;
}

.search-tb:-moz-placeholder {
    /* Firefox 18- */
    font-size: 14px !important;
    font-family: $gothambook;
    text-align: center;
}

.search-tb .icon {
    position: absolute;
    left: 35px;
}

.icon.ion-android-search.placeholder-icon {
    position: absolute;
    left: 30px;
}

.privilege-search {
    .btn-cancel {
        font-size: 15px !important;
        width: 63px;
    }
    .item {
        border: none;
    }
    .norecord {
        background: #50585f;
        color: #fff;
        font-size: 14px;
        margin-top: 5px;
        padding: 5px;
        padding-left: 10px;
    }
    .button-bar-grey {
        margin-top: 0px;
        background: #dfdfdf;
    }
    .button-bar>.button:first-child,
    .button-bar>.button:last-child {
        border-radius: 0px;
    }
    .fa {
        position: absolute;
    }
    .fa-arrow-down {
        top: 7px;
        right: -6px;
    }
    .icon-arrow-down2 {
        top: 5px;
        position: relative;
    }
    .icon-arrow-down2:before {
        content: "\ea3e";
    }
    .privilege-nav-button {
        background: #8a297b;
        color: #fff;
        font-size: 12px;
        padding-top: 3px;
        border-right: 2px solid #9e338d;
        font-family: $gothammedium;
        img {
            width: 18%;
            position: absolute;
            top: 4px;
        }
        div {
            position: relative;
            left: -6px;
        }
    }
    .privilege-nav-button.active {
        background: #9e338d;
        border-top: 0px;
        border-left: 0px;
        border-color: #9e338d;
    }
    .privilege-nav-button.activated {
        border-color: #9e338d;
    }
    .privilege-nav-button-grey {
        width: 100%;
        color: #000;
        font-size: 12px;
        font-family: $gothammedium;
        background: #dfdfdf;
        img {
            width: 40%;
            position: absolute;
            top: 13px;
        }
        div {
            position: relative;
            div {
                width: 50%;
                /*text-align:center;*/
                margin: 0 auto;
            }
        }
        .filter {
            width: 50%;
            line-height: 13px;
        }
    }
    .privilege-nav-button-grey.active {
        background: #dfdfdf;
        border-top: 0px;
        border-left: 0px;
        border-color: #dfdfdf;
    }
    .privilege-nav-button-grey.activated {
        border-color: #9e338d;
    }
    .privilege-content {
        border: 1px solid #767779;
        overflow: hidden;
        .inner-content {
            padding: 8px;
            height: 300px;
        }
        .privi-image {
            height: 141px;
            background-size: 100% !important;
            background-repeat: no-repeat !important;
            margin-bottom: 10px;
        }
        .privi-image img {
            width: 100%;
            height: auto;
            padding: 5px;
        }
        .privi-shop {
            font-family: $gothammedium;
            /*text-transform: uppercase;*/
            color: $ion-colour;
        }
        .privi-valid {
            font-family: $gothammedium;
            margin-bottom: 5px;
            /*text-transform: uppercase;*/
        }
        .privi-content {
            /*color: $ion-colour;*/
            font-size: 12px;
            white-space: normal;
        }
    }
}

.legends {
    background: rgba(255, 255, 255, 0.8);
    font-family: $gothammedium;
    color: $ion-colour;
    td {
        font-size: 14px;
    }
    .details {
        width: 60%;
        border: 1px solid #9d338b;
        background: #fff;
        position: absolute;
        left: 20%;
        top: 250px;
        div {
            margin-bottom: 10px;
        }
    }
}

.btn-dashboard-edit {
    background: none;
    border: none;
    img {
        width: 23px;
        margin-top: 5px;
    }
}

.dashboard-header {
    height: initial;
}

.dashboard {
    .col-ion-plus-point {
        .left {
            text-align: left;
        }
        .right {
            text-align: right;
            font-family: $gothamlight;
        }
    }
    .ion-pts {
        width: 90%;
        margin: 0 auto;
        font-family: $gothammedium;
        font-weight: normal;
    }
    .greeting-member {
        // margin-top: 8px;
        height: 70px;
        background: url(../img/bg_triangle.png) no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .icon-title {
        font-family: $gothammedium !important;
        font-size: 0.94em;
    }
    .div-logo {
        width: 100%;
        background: #fff;
        // padding-bottom: 10px;
        // height: 120px;
        height: auto;
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    .bar {
        background-image: none;
    }
    .ionic-refresher-content {
        /*background: #efeff5;*/
    }
    .has-header {
        // top: 110px !important;
        background: #efeff5;
        padding-top: 0px;
    }
    .bar-subheader {
        top: 0px !important;
        height: auto;
    }
    a {
        text-decoration: none !important;
    }
    /*	.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader
	{
		top: 110px !important;
	}*/
    .toolbar {
        text-align: right;
        button {
            img {
                width: 30px;
            }
        }
    }
    .label {
        font-size: 18px;
        font-weight: normal;
        font-family: $gothammedium;
        .not_exist {
            font-family: $gothamlight !important;
        }
    }
    .greeting-msg {
        text-align: center;
        padding-top: 30px;
        color: #9d338b;
        font-family: $gothammedium;
        /*font-weight: 700;*/
        // background: #fff;
        margin-bottom: 0px;
        padding-bottom: 0px;
        margin-top: 5px;
        padding-top: 5px;
        font-size: 20px;
    }
    .member-name {
        font-family: $gothammedium;
        font-size: 20px;
        /*font-weight: 700;*/
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000;
        line-height: 20px
    }
    p.member-details {
        text-align: center;
        background: #fff;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }
    .membership-status {
        font-weight: 700;
        font-family: $gothamlight;
        font-size: 16px;
    }
    .membership-functions {
        padding: 0px 0px;
        background: #fff;
        table,
        td {
            border: 1px #9d338b solid;
        }
        table {
            width: 100%
        }
        td {
            text-align: center;
            font-weight: bold;
            color: #9d338b;
            background-color: #e5e5e5;
            vertical-align: middle;
            .iu-full {
                width: 95%;
                border: 0px!important;
                margin: 3px;
            }
        }
        td.left-column {
            width: 70%;
            font-size: 17px;
            .iu-no,
            .ion-plus-point {
                font-weight: normal;
                font-size: 19px;
                text-decoration: none;
                padding: 5px 0px;
                margin-bottom: 5px;
                // background-color: #f3f3f1;
                border: 0px;
            }
        }
        td.left-column.col-ion-plus-point {
            background-color: #f1f1f1;
        }
        td.right-column {
            padding: 8px;
            img {
                display: block;
                width: 35px;
                margin: 0 auto;
                margin-bottom: 5px;
            }
        }
    }
    .arrow {
        text-align: center;
        margin-top: 12px;
        img {
            width: 10%;
        }
    }
    .qrcode {
        .qr#qrcode {
            canvas {
                width: 256px!important;
            }
        }
    }
    .virtual-card {
        text-align: center;
        margin-top: 50px;
        color: $ion-colour;
        font-weight: 700;
        font-size: 16px;
    }
    .qr {
        text-align: center;
        padding: 0px 80px 0px 80px;
        img {
            width: 100% !important;
            height: 100% !important;
        }
    }
    .scan {
        text-align: center;
        padding: 10px 20px 0px 20px;
    }
}

.dashboardmenu {
    background: rgba(0, 0, 0, 0.2);
    .menus {
        width: 65%;
        right: 8px;
        top: 70px;
        position: absolute;
        background: #fff;
        border-radius: 5px;
    }
    .item {
        font-size: 15px;
        font-family: $gothammedium;
        color: $ion-colour;
        border-color: $ion-colour;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
        padding-left: 0px;
    }
    .item.activated {
        background: transparent;
    }
    .item:first-child {
        border-top: 0px;
        padding-top: 8px;
    }
    .item:last-child {
        padding-bottom: 8px;
    }
    .list {
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-top: 1px solid $ion-colour;
        border-bottom: 1px solid $ion-colour;
    }
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 15px solid rgba(255, 255, 255, 0.6);
        position: absolute;
        top: -15px;
        right: 10px;
    }
    .menus {
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
    }
    has-subheader {
        top: 0px;
        height: auto !important;
    }
}

.filtermenu {
    background: rgba(0, 0, 0, 0.2);
    .menus {
        width: 65%;
        left: 8px;
        top: 168px;
        position: absolute;
        background: #fff;
        border-radius: 5px;
    }
    .item {
        font-size: 15px;
        font-family: $gothammedium;
        color: $ion-colour;
        border-color: $ion-colour;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
        padding-left: 0px;
    }
    .item.activated {
        background: transparent;
    }
    .item:first-child {
        border-top: 0px;
        padding-top: 8px;
    }
    .item:last-child {
        padding-bottom: 8px;
    }
    .list {
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-top: 1px solid $ion-colour;
        border-bottom: 1px solid $ion-colour;
    }
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 15px solid rgba(255, 255, 255, 0.6);
        position: absolute;
        top: -15px;
        left: 55px;
    }
    .menus {
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
    }
}

.ps-filtermenu {
    background: rgba(0, 0, 0, 0.2);
    .menus {
        width: 65%;
        left: 8px;
        top: 125px;
        position: absolute;
        background: #fff;
        border-radius: 5px;
    }
    .item {
        font-size: 15px;
        font-family: $gothammedium;
        color: $ion-colour;
        border-color: $ion-colour;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
        padding-left: 0px;
    }
    .item.activated {
        background: transparent;
    }
    .item:first-child {
        border-top: 0px;
        padding-top: 8px;
    }
    .item:last-child {
        padding-bottom: 8px;
    }
    .list {
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-top: 1px solid $ion-colour;
        border-bottom: 1px solid $ion-colour;
    }
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 15px solid rgba(255, 255, 255, 0.6);
        position: absolute;
        top: -15px;
        left: 55px;
    }
    .menus {
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
    }
}

.scan_result {
    .shopname {
        text-transform: uppercase;
        font-family: $gothammedium;
        width: 78%;
        // float: left;
    }
    .status {
        float: right;
        font-family: $gothamlight;
        color: $ion-colour;
        text-align: right;
        margin-top: 10px;
    }
    .red {
        color: red;
    }
    .bigimage {
        height: 200px;
        background-size: cover !important;
        background-position: center center !important;
    }
    .smallimages {
        padding: 0px;
        height: 55px;
        .col {
            background: #e3e3e3 url(../img/camera_icon.png) center center no-repeat;
            background-size: 45%;
            /*padding:15px;*/
            padding: 0px;
            text-align: center;
            border-right: 1px solid grey;
            img {
                width: 45%;
                padding-top: 6px;
            }
        }
        .col:last-child {
            border-right: none;
        }
        .col.active {
            background: rgba(0, 0, 0, 0.7) url(../img/camera_icon.png) center center no-repeat;
            background-size: 45%;
            .overlay {
                background: rgba(110, 109, 109, 0.5);
                height: 55px;
            }
        }
    }
    .clear {
        clear: both;
    }
    .result {
        font-family: $gothammedium;
        margin-bottom: 10px;
        border-bottom: 1px solid #b8b2bc;
        padding-bottom: 5px;
    }
    .date-time {
        color: $ion-colour;
        font-family: $gothamlight;
        padding-top: 10px;
        float: left;
    }
    .reject {
        width: 32% !important;
        margin-top: 7px;
    }
}

.fullreceipt {
    background: #000;
    img {
        width: 100%;
        position: absolute;
        top: 75px;
    }
    .done-btn {
        position: absolute;
        right: 0px;
        color: #fff;
        border: 1px solid #fff;
        width: 70px;
        font-size: 12px;
        min-height: 20px;
        height: 31px;
        margin-top: 20px;
        margin-right: 10px;
        line-height: 30px;
    }
}

//huawei
@media only screen and (min-width:432px) and (max-width: 433px) {
    .dashboard {
        .has-subheader {
            top: 130px;
        }
    }
}

//Galaxy S5
@media only screen and (min-width: 321px) and (max-width: 360px) {
    .fullreceipt {
        img {
            top: 75px;
        }
    }
    .iu-manager {
        #newiuform {
            .list {
                .item.item-input-cb {
                    height: 70px !important;
                }
            }
        }
    }
    .dashboard {
        .div-logo {
            // height: 150px;
        }
        .has-header {
            // top: 140px !important;
            top: 110px !important;
        }
        .icon-title {
            font-size: 0.98em;
        }
        .col-ion-plus-point .left,
        .col-ion-plus-point .right {
            font-size: 15px;
        }
        .label {
            font-size: 15px;
        }
        .membership-functions td.left-column .iu-no {
            font-size: 15px;
        }
    }
    .filtermenu {
        .menus {
            top: 105px;
        }
    }
    .ps-filtermenu .menus {
        top: 105px;
    }
    .privilege {
        .gift-top {
            top: 87px !important;
        }
    }
    .dashboardmenu {
        .menus {
            top: 50px;
        }
    }
    .login,
    .register {
        .pdpa {
            font-size: 11px;
        }
    }
}

//Iphone 6+
@media only screen and (min-width: 376px) and (max-width: 414px) {
    .fullreceipt {
        img {
            top: 90px;
        }
    }
    .iu-manager {
        #newiuform {
            .list {
                .item.item-input-cb {
                    height: 70px !important;
                }
            }
        }
    }
    .dashboard {
        .div-logo {
            // height: 150px;
        }
        .has-header {
            top: 127px !important;
        }
    }
    .scan_receipt {
        img {
            margin-left: -10%
        }
        .center-img {
            margin-left: -20% !important;
        }
    }
    .filtermenu {
        .menus {
            top: 130px !important;
        }
    }
}

//Iphone 6
@media only screen and (min-width: 361px) and (max-width: 375px) {
    .fullreceipt {
        img {
            top: 75px;
        }
    }
    .dashboard {
        .div-logo {
            // height: 131px;
        }
        .has-header {
            // top: 120px !important;
        }
    }
    .gift-top {
        top: 92px !important;
    }
    .has-subheader {
        top: 115px !important;
    }
    .spending .list {
        margin-top: -8px;
    }
    .scan_receipt {
        img {
            margin-left: -10%
        }
        .center-img {
            margin-left: -20% !important;
        }
    }
}

//Iphone 5
@media only screen and (max-width: 320px) {
    .register {
        .pdpa {
            font-size: 11px;
        }
    }
    .dashboard {
        .has-header {
            top: 97px;
        }
        .col-ion-plus-point .left,
        .col-ion-plus-point .right {
            font-size: 13px;
        }
        .label {
            font-size: 13px;
        }
        .membership-functions td.left-column .iu-no {
            font-size: 13px;
        }
    }
    .transaction {
        .transaction-nav-button {
            font-size: 11px;
            img {
                top: 15px;
            }
        }
        .redemption .col {
            font-size: 12px;
        }
    }
    .legends {
        .details {
            width: 68%;
            left: 16%;
            top: 193px;
        }
    }
    .fullreceipt {
        img {
            top: 70px;
        }
    }
    .redemption {
        .col {
            font-size: 11px;
        }
    }
    .iu-manager {
        .iu-content {
            input {
                border-bottom: 1px solid #ddd;
            }
            /*.iu-list-header {
				font-size: 12pt !important;
			}*/
            /*.iu-list {
				.list {
					li.item {
						.list-iu-no {
							.iu-no {
								font-size: 12pt !important;
							}
						}
					}
				}
			}*/
            #newiuform {
                .list {
                    .item.item-input-cb {
                        height: 70px !important;
                    }
                }
            }
        }
    }
    .spending.has-subheader {
        top: 105px !important;
    }
    .gift-top {
        top: 92px !important;
    }
    .privilege {
        .gifts {
            .qty {
                font-size: 13px;
            }
        }
        .fa-search {
            left: 38px;
        }
        .fa-arrow-down {
            right: -13px;
        }
    }
    .header-item {
        left: 40px !important;
        .btn-cancel {
            font-size: 12px !important;
        }
    }
    .has-subheader {
        top: 95px !important;
    }
    .scan_receipt {
        img {
            margin-left: -10%
        }
        .center-img {
            margin-left: -20% !important;
        }
    }
}

.iu-manager {
    .form-errors {
        color: red;
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: $gothambook;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        font-family: $gothambook;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        font-family: $gothambook;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        font-family: $gothambook;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    .fa-2x {
        color: $ion-colour;
        font-size: 1.5em;
    }
    .button-bar>.button:first-child,
    .button-bar>.button:last-child {
        border-radius: 0px;
    }
    .iu-manager-nav-button {
        background: #8a297b;
        color: #fff;
        font-size: 13px;
        border-right: 2px solid #9e338d;
        font-family: $gothammedium;
        line-height: 44px !important;
        img {
            width: 16%;
            position: absolute;
            top: 13px;
        }
        div {
            position: relative;
            left: -6px;
        }
    }
    .iu-manager-nav-button.active {
        background: #9e338d;
        border-top: 0px;
        border-left: 0px;
        border-color: #9e338d;
    }
    .iu-manager-nav-button.activated {
        border-color: #9e338d;
    }
    .iu-content {
        /*margin-top: 47px;*/
        input[type=checkbox]~label {
            top: 25px;
            display: block;
            position: absolute;
            left: 15px;
            top: 21px;
            text-align: center;
            direction: ltr;
            margin: 0 auto;
            width: 90%;
        }
        input[type=radio]:checked~label:before,
        input[type=radio]~label:before {
            /*font-size: 1.5em !important;*/
        }
        .div-active-iu {
            text-align: center;
            line-height: 15pt;
            font-size: 18px;
            margin-top: 20px;
            .active-iu-no {
                font-family: $gothammedium;
            }
        }
        .iu-list-header {
            color: #fff;
            background-color: #000;
            font-size: 18px;
            font-family: $gothammedium;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .iu-list {
            .list {
                .iu-no {
                    padding-left: 9px;
                }
                li.item.even {
                    background-color: #e6e6e6;
                }
                li.item {
                    padding: 0px 16px;
                    .list-iu-no {
                        padding-top: 12px;
                        .iu-no {
                            font-size: 16px;
                        }
                    }
                    input[type=checkbox] {
                        border: 0;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }
                    input[type=checkbox]~label:before {
                        font-family: FontAwesome;
                        display: inline-block;
                        content: "\f096";
                        letter-spacing: 10px;
                        font-size: 1.5em;
                        width: 1.4em;
                    }
                    input[type=checkbox]:checked~label:before {
                        content: "\f046";
                        font-size: 1.5em;
                        color: #9d338b;
                        letter-spacing: 5px;
                    }
                    input[type=checkbox]~label {
                        top: 10px;
                        width: auto;
                    }
                    input[type=checkbox]:checked~label:before {
                        content: "\f046";
                        font-size: 1.5em;
                        color: #9d338b;
                        letter-spacing: 5px;
                    }
                    input[type=radio] {
                        border: 0;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }
                    input[type=radio]~label:before {
                        font-family: FontAwesome;
                        display: inline-block;
                        content: "\f096";
                        letter-spacing: 10px;
                        font-size: 1.5em;
                        width: 1.4em;
                    }
                    input[type=radio]:checked~label:before {
                        content: "\f046";
                        font-size: 1.5em;
                        color: #9d338b;
                        letter-spacing: 5px;
                    }
                }
            }
        }
        #newiuform {
            .active_iu {
                font-size: 16px;
                /*font-family: $gothammedium;*/
            }
            .error {
                color: red;
            }
            .list {
                padding: 0;
                border: none;
                .item {
                    border: none;
                    padding-right: 16px;
                    padding-top: 0px;
                    input[type=checkbox]~label:before {
                        font-family: FontAwesome;
                        display: block;
                        position: absolute;
                        content: "\f058";
                        letter-spacing: 10px;
                        font-size: 1.2em;
                        width: 1.4em;
                        color: #9d338b;
                    }
                    input[type=checkbox]:checked~label:before {
                        /*content: "\f111";*/
                    }
                    .pwd {
                        -webkit-text-security: disc;
                    }
                }
                .activeiu {
                    input[type=checkbox]~label:before {
                        font-family: FontAwesome;
                        display: block;
                        position: absolute;
                        content: "";
                        letter-spacing: 10px;
                        font-size: 1.2em;
                        width: 1.4em;
                        color: #9d338b;
                    }
                    .ng-empty:before {
                        font-family: FontAwesome;
                        display: block;
                        position: absolute;
                        content: "\f10c";
                        letter-spacing: 10px;
                        font-size: 1.5em;
                        width: 1.4em;
                        color: #9d338b;
                        top: 20px;
                    }
                    .ng-not-empty:before {
                        font-family: FontAwesome;
                        display: block;
                        position: absolute;
                        content: "\f058";
                        letter-spacing: 10px;
                        font-size: 1.5em;
                        width: 1.4em;
                        color: #9d338b;
                        top: 20px;
                    }
                }
                .item.even {
                    background-color: #e6e6e6;
                }
                .item.item-input-cb {
                    position: relative;
                    height: 62px;
                }
                .item-floating-label .input-label.has-input {
                    font-size: 12px;
                }
            }
        }
    }
    .btn-iu-bottom {
        width: 100%;
        background-color: #9d338b;
        font-size: 18px;
        color: #fff;
        font-weight: bold !important;
        border: none;
    }
    .btn-iu-bottom[disabled] {
        color: rgba(255, 255, 255, 0.5);
    }
    .bar-footer {
        padding: 0;
        height: 47px;
    }
}

.iu-popup {
    background: rgba(0, 0, 0, 0.5);
}

.iu-popup .popup {
    margin-top: -100px;
    border: 2px #9d338b solid;
    background-color: #fff !important;
    width: 90%;
    // height: 240px;
    .popup-head {
        font-family: $gothambook;
        border: none;
        .popup-title {
            font-family: $gothambook;
            font-size: 17px;
        }
        .popup-sub-title {
            font-family: $gothambook;
            font-size: 19px;
            font-weight: bold;
            margin: 0;
            height: 25px;
        }
    }
    .popup-body {
        padding: 0;
        .form-errors {
            color: red;
        }
        input[type=number],
        input[type=tel] {
            font-family: $gothambook;
            padding: 15px;
            text-align: center !important;
            /*font-size: 11pt;*/
            height: auto;
            -webkit-text-security: disc;
        }
        input[type=password] {
            text-align: center !important;
            margin-top: 15px;
        }
         ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 14px;
        }
         ::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 14px;
        }
         :-ms-input-placeholder {
            /* IE 10+ */
            font-size: 14px;
        }
         :-moz-placeholder {
            /* Firefox 18- */
            font-size: 14px;
        }
    }
    .popup-buttons {
        padding: 0;
        display: block;
        margin-top: 30px;
        .button {
            display: block;
            width: 100%;
            font-weight: bold;
            border: none;
            border-radius: 0;
            font-family: $gothammedium;
        }
        .button.button-positive {
            background-color: #9d338b;
        }
        // .button.button-default {
        //     background-color: #000;
        //     color: #fff;
        // }
    }
}

.iu-popup {
    .popup-head {
        padding: 15px 10px;
    }
    .popup-body {
        padding: 10px;
    }
    .popup-buttons {
        margin-top: 37px!important;
    }
}

.iu-popup-active {
    .popup .popup-buttons .button.button-default {
        background-color: #000 !important;
        color: #fff !important;
        border-radius: 0px !important;
    }
    .popup-buttons {
        margin-top: 0px;
        // height: 218px !important;
    }
}

.iu-popup-delete {
    a {
        text-decoration: none;
        color: #000;
        font-family: $gothammedium;
    }
    .popup .popup-buttons .button.button-default {
        background-color: #000 !important;
        color: #fff !important;
        border-radius: 0px !important;
    }
    .popup-buttons {
        margin-top: 15px !important;
    }
    .popup {
        /*height: 220px;*/
        height: auto;
    }
    .pwd {
        -webkit-text-security: disc;
    }
}

.col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}

.col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 6%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 6%;
    -ms-flex: 0 0 6%;
    flex: 0 0 6%;
    max-width: 6%;
}

.col-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 8%;
    -ms-flex: 0 0 8%;
    flex: 0 0 8%;
    max-width: 8%;
}

.col-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 12%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 12%;
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    max-width: 12%;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.col-22 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 22%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 22%;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
}

.col-27 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 27%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 27%;
    -ms-flex: 0 0 27%;
    flex: 0 0 27%;
    max-width: 27%;
}

.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.col-33 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33%;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
}

.col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.col-60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.popup-container .popup {
    border-radius: 5px;
}

.ion-ok-btn {
    /*padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;*/
    border-bottom-right-radius: 5px;
    background-color: $ion-colour;
    color: #fff;
}


/*glynnis add*/

.icon-title,
.label {
    font-family: $gothammedium;
    font-weight: normal;
}

.scan {
    font-family: $gothamlight;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}

.iu-no,
.ion-plus-point {
    font-family: $gothamlight;
    font-weight: normal;
}

.ion-plus-point,
.total {
    // font-size:1.35em!important;
}

.total_points {
    font-family: $gothammedium;
    .total {
        border: 1px solid $ion-colour;
        margin: 10px 0px;
        .header {
            background-color: $grey-colour;
            color: #ffffff;
            text-align: center;
            font-size: 1.35em;
            padding: 10px 0px;
        }
        .content {
            // height: 130px;
            height: 75px;
            padding: 0px 10%;
            .totalpoint {
                color: $ion-colour;
                font-family: $gothamlight;
                font-size: 1.21em;
                padding: 15px 0px;
                text-align: center;
                border-bottom: 1px solid $ion-colour;
            }
            .showpoints {
                color: $ion-colour;
                margin-top: 10px;
                .left {
                    float: left;
                    font-size: 16px;
                    font-family: $gothammedium;
                }
                .right {
                    float: right;
                    font-size: 17px;
                    font-family: $gothamlight;
                }
            }
        }
    }
    .points {
        border: 1px solid $ion-colour;
        margin: 10px 0px;
        .header {
            background-color: $ion-colour;
            color: #ffffff;
            text-align: center;
            font-size: 1.35em;
            padding: 10px 0px;
        }
        .content {
            font-family: $gothammedium;
            text-align: center;
            height: 90px;
            padding: 15px 0px;
            .left {
                border-right: 1px solid $ion-colour;
                float: left;
                width: 50%;
                .point {
                    font-size: 1.53em;
                }
                .text {
                    font-size: 0.87em;
                    font-weight: normal;
                }
                .date {
                    font-family: $gothamlight;
                    color: $ion-colour;
                    font-size: 20px;
                }
            }
            .right {
                float: right;
                width: 50%;
                .point {
                    font-size: 1.53em;
                }
                .text {
                    font-size: 0.87em;
                    font-weight: normal;
                }
                .date {
                    font-family: $gothamlight;
                    color: $ion-colour;
                    font-size: 20px;
                }
            }
        }
    }
}

.countrycode {
    width: 100%;
    height: 35px;
    top: 15px;
    direction: ltr;
    background: transparent;
    width: 95%;
    max-width: 100%;
    border: 0px;
    border-bottom: 1px solid #ddd;
    left: 19px;
    border-radius: 0px;
}

.column3 {
    width: 33%;
}

.column1 {
    width: 11%;
}

.column6 {
    width: 66%;
}

.popup-head {
    border-bottom: 0px!important;
    padding: 15px 10px 5px 10px!important;
    font-family: $gothammedium!important;
    .popup-title {
        font-size: 15px;
        font-size: 1.2em;
    }
}

.popup-body {
    padding: 0px 10px!important;
    text-align: center;
    font-size: 13px;
}

.popup-buttons {
    margin-top: 15px!important;
    border-top: 1px solid #eaeaea!important;
    min-height: 45px!important;
    padding: 0px!important;
    .ion-btn,
    .ion-ok-btn,
    .button-default {
        background: transparent!important;
        color: #0266fd!important;
        border-radius: 5px!important;
        font-family: $gothammedium!important;
        font-size: 16px!important;
    }
    /*.button-default {
		font-family: $gothammedium!important;
	}*/
}

.carpark_dollar {
    font-family: $gothammedium;
    .form-errors {
        font-family: $gothambook !important;
        color: red;
        font-size: 14px;
    }
    .pwd {
        -webkit-text-security: disc;
    }
    .content {
        border: 1px solid $ion-colour;
        .innercontent {
            padding: 5%;
            .points {
                color: $ion-colour;
                padding: 2% 0px;
                margin-bottom: 5%;
                .left {
                    float: left;
                    text-align: left;
                    font-size: 1.15em;
                    width: 49%;
                }
                .right {
                    float: right;
                    text-align: right;
                    font-size: 1.25em;
                    font-family: $gothamlight;
                    width: 49%;
                }
            }
        }
    }
    .secondcontent {
        border-bottom: 1px solid $ion-colour;
        border-left: 1px solid $ion-colour;
        border-right: 1px solid $ion-colour;
        margin-bottom: 8%;
        .innercontent {
            padding: 5%;
            font-size: 1.15em;
            .activeiu {
                .input-label {
                    font-family: $gothambook;
                }
                .selectiu {
                    font-family: $gothamlight;
                    border: 1px solid #ccc;
                    width: 100%;
                    height: 40px;
                    border-radius: 0px;
                    background: #fff;
                    color: $ion-colour;
                    padding-left: 33%;
                    font-size: 1.15em;
                    background: url(../img/tick.png) no-repeat right;
                    -webkit-appearance: none;
                    background-position-x: 95%;
                }
                .list {
                    padding: 0px;
                    margin: 0px;
                }
                .row {
                    padding: 0px;
                    border: 0px;
                    .col {
                        padding: 0px;
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
        }
    }
}

.addiu {
    input[type="number"],
    input[type="tel"] {
        font-size: 18px;
        border-bottom: 1px solid #ddd;
    }
}

.scan_receipts {
    .receipts-shop {
        .item {
            background: transparent;
            /* border: 0px; */
            padding-bottom: 0px;
            padding-top: 5px;
            border: 0px;
        }
        .item:nth-child(even) {
            background: #e6e6e8;
        }
        .store {
            font-family: $gothammedium;
            background: transparent;
            font-size: 18px
        }
        .upload {
            border-bottom: 1px solid #b8b2bc;
            margin-bottom: 1px;
            font-weight: normal;
            font-family: $gothamlight;
        }
    }
    .top-scan {
        font-family: $gothamlight;
        font-weight: normal;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        color: #3d3d3e;
    }
    .padding {
        img {
            width: 100%;
        }
    }
}

.samplereceipt {
    ion-content {
        background: #000;
    }
    .receipt_img {
        margin-top: 20%;
    }
    .done {
        position: absolute;
        right: 10px;
        top: 20px;
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        font-size: 12px;
        height: 33px;
        /* height: 40px; */
        min-height: 20px;
        width: 67px;
        line-height: 31px;
    }
}

.tnc {
    .condition {
        border: 1px solid $ion-colour;
        padding: 3%;
    }
    .mainheading {
        color: $ion-colour;
        font-size: 0.7em;
        font-family: $gothambook
    }
    table {
        border: 1px solid #000;
        td {
            border: 1px solid #000;
            padding: 5px;
        }
    }
    ol {
        list-style-type: lower-alpha;
        padding-left: 30px;
    }
    h4 {
        font-family: $gothambook;
        font-weight: bold;
    }
}

.receipt-content {
    background: #efeff5;
    font-family: $gothammedium;
}

.hide_nav_view_transparent {
    background-color: transparent;
}

.show_guide_line {
    background-image: url("../img/scan-receipt-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: bottom;
}

.platform-ios.show_guide_line {
    background-position-x: center !important;
    background-position-y: -55px !important;
}

.platform-android.show_guide_line {
    background-position-y: -10px !important;
}

.hide_nav_view {
    display: none;
}

// ================ Customise Components
.take-receipt-footer {
    height: 55px;
}

.take-picture-button {
    min-width: 35px !important;
    min-height: 35px !important;
    font-size: 25px;
    line-height: 30px;
    background: #ffffff !important;
    color: gray !important;
    z-index: 12 !important;
    border: 2px solid #9d338b;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
    margin-top: 8px !important;
}

.take-picture-button {
    -webkit-transform: translate3d(0, -1px, 0) !important;
    transform: translate3d(0, -1px, 0) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
}

.modal-wrapper {
    min-height: 100%;
}

.show_preview {
    background-color: #545b61;
}

.scan_receipt_back {
    position: fixed;
    top: 25px;
    left: 5px;
}

.scan_receipt_result {
    text-align: center;
    margin-bottom: 10%;
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 60px;
    // margin-left: 10%;
    // margin-right: 10%;
    font-weight: normal;
    font-size: 18px;
    font-family: $gothammedium;
}

.scan_receipt {
    div.scroll {
        height: 100%;
    }
    img {
        height: 100%;
    }
    .center-img {
        margin-left: -20% !important;
    }
}

.store {
    background: white;
    .has-subheader {
        top: 110px !important;
    }
    .back_btn {
        border: 0px;
        color: $ion-colour !important;
        font-size: 1em;
    }
    .title {
        text-align: right;
    }
    .item-divider {
        background-color: #545b61;
        color: #fff !important;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 30px;
        border-top: 0px;
        font-family: $gothambook;
        padding-top: 5px !important;
    }
    .button-bar {
        padding-top: 2px;
        background-color: #bd1cba;
        .active {
            background-color: #bd1bba;
            color: #fff !important;
        }
        .button {
            border: none;
            color: #b53bb5;
            box-shadow: none;
            line-height: 35px;
            min-height: 37px;
            margin-right: 2px;
            font-family: $gothammedium;
            border-radius: 0px;
        }
    }
    .purple-bar {
        background: #9d338b;
        height: 46px;
        width: 100%;
        padding: 5px;
        position: relative;
        button {
            color: #fff;
            font-family: $gothammedium
        }
        ion-scroll {
            width: 87%;
            margin-left: 6.5%;
            top: 8px;
            position: absolute;
        }
        .scroll {
            word-wrap: normal;
            white-space: nowrap;
            // margin-top: -9px;
        }
        .arrow img {
            width: 65%;
        }
        .left {
            position: absolute;
            top: 34%;
            left: 3%;
        }
        .right {
            position: absolute;
            top: 34%;
            right: 0%;
        }
    }
    .alpha-title {
        font-size: 11px;
        color: #e4c8e0;
        padding-left: 5%;
        display: block;
    }
    .search-wrapper {
        background: #c9c9ce;
        padding: 8px 0px 8px 0px;
        text-align: center;
         ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #8e8e93;
            font-size: 14px;
        }
         ::-moz-placeholder {
            /* Firefox 19+ */
            color: #8e8e93;
            font-size: 14px;
        }
         :-ms-input-placeholder {
            /* IE 10+ */
            color: #8e8e93;
            font-size: 14px;
        }
         :-moz-placeholder {
            /* Firefox 18- */
            color: #8e8e93;
            font-size: 14px;
        }
        .list-inset {
            margin: 0 auto;
            background-color: transparent;
            width: 100%;
        }
        .search {
            border-radius: 3px;
            height: 21px;
            text-align: center;
            font-size: 12px;
            padding-right: 0px !important;
            padding-left: 9px;
            position: absolute;
            left: 0px;
            top: 3px
        }
        .item-input {
            width: 96%;
            margin: 0 auto;
            height: 32px;
            border-top-left-radius: 5px !important;
            border-top-right-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
            -webkit-box-shadow: inset 0px 0px 1px 0px rgba(159, 159, 159, 0.66);
            -moz-box-shadow: inset 0px 0px 1px 0px rgba(159, 159, 159, 0.66);
            box-shadow: inset 0px 0px 1px 0px rgba(159, 159, 159, 0.66);
        }
        .item-icon-left {
            display: inline-block;
            color: #8e8e93;
            font-size: 15px;
            padding-left: 0px;
            left: 39%;
            top: 5px;
            position: absolute;
        }
    }
    .item {
        color: #000;
        font-size: 13px;
        padding: 9px;
        font-size: 14px;
    }
    .outlet_name {
        color: $ion-colour;
    }
    .outlet_name:nth-child(odd) {
        background-color: #e6e6e6;
    }
}

.ionskywallet {
    .transaction-nav-button {
        background: #8a297b;
        color: #fff;
        font-size: 13px;
        border-right: 2px solid #9e338d;
        font-family: $gothammedium;
        line-height: 42px !important;
        img {
            width: 16%;
            position: absolute;
            top: 13px;
        }
        div {
            position: relative;
            left: -6px;
        }
    }
    .transaction-nav-button.active {
        background: #9e338d;
        border-top: 0px;
        border-left: 0px;
        border-color: #9e338d;
    }
    .transaction-nav-button.activated {
        border-color: #9e338d;
    }
    .item {
        /*padding: 5px 12px 5px 12px;*/
        padding: 10px 5px 10px 5px;
        height: 70px;
        /*padding-left: 12px;
    	padding-right: 12px;*/
    }
    .last-updated {
        font-size: 12px;
        text-align: center;
        color: #9d338b;
        padding: 5px;
    }
    .button-bar>.button:first-child,
    .button-bar>.button:last-child {
        border-radius: 0px;
    }
    .transaction-nav-button {
        background: #8a297b;
        color: #fff;
        font-size: 13px;
        border-right: 2px solid #9e338d;
        font-family: $gothammedium;
        line-height: 42px !important;
        img {
            width: 16%;
            position: absolute;
            top: 13px;
        }
        div {
            position: relative;
            left: -6px;
        }
    }
    .transaction-nav-button.active {
        background: #9e338d;
        border-top: 0px;
        border-left: 0px;
        border-color: #9e338d;
    }
    .transaction-nav-button.activated {
        border-color: #9e338d;
    }
    .red {
        color: red;
    }
    /*.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader
	{
		top:100px;
	}*/
    .left {
        float: left;
        width: 220px;
    }
    .right {
        float: right;
        img {
            width: 35px;
            padding-top: 3px;
            float: right;
        }
    }
    .bottom_row {
        /*margin-top: 5px;*/
        font-size: 0.7em;
        div {
            display: inline-block;
        }
    }
    .spendings {
        .shop {
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        .left {
            width: 80%;
        }
    }
    .shop {
        font-family: $gothammedium;
        /*text-transform: uppercase;*/
        color: $ion-colour;
        margin-bottom: 0px;
    }
    .icon {
        text-align: center;
        img {
            width: 55%;
        }
    }
    .arrow {
        text-align: right;
        position: relative;
        top: 9px;
        img {
            width: 50%;
        }
    }
    .norecord {
        background: #50585f;
        color: #fff;
        font-size: 14px;
        margin-top: 5px;
        padding: 5px;
        padding-left: 10px;
    }
    .item:nth-child(even) {
        background: #e6e6e6;
    }
    .redemption {
        .date_time {
            white-space: normal;
        }
        .col {
            font-size: 14px;
        }
        .col.col-6:first-child {
            padding-left: 0px;
        }
    }
}

.ticket-details {
    ion-content {
        background: #efeff5;
    }
    .body {
        font-size: 1em;
        text-align: center;
    }
    .details {
        font-size: 0.75em;
        div {
            display: inline-block;
        }
        .redemptiondate,
        .date,
        .amount,
        .points,
        .carpark,
        .used_point {
            font-size: 1.1em;
            font-weight: bold;
        }
        .icon img {
            width: 55%;
        }
    }
    .small {
        font-size: 0.7em;
    }
    .btn-iu-bottom {
        width: 100%;
        background-color: #9d338b;
        font-size: 18px;
        color: #fff;
        font-weight: bold !important;
        border: none;
    }
    .btn-iu-bottom[disabled] {
        color: rgba(255, 255, 255, 0.5);
    }
    .bar-footer {
        padding: 0;
        height: 47px;
    }
}

.bookionsky {
    .btn-iu-bottom {
        width: 100%;
        background-color: #9d338b;
        font-size: 18px;
        color: #fff;
        font-weight: bold !important;
        border: none;
    }
    .btn-iu-bottom[disabled] {
        color: rgba(255, 255, 255, 0.5);
    }
    .bar-footer {
        padding: 0;
        height: 47px;
    }
    .summary_table {
        border: 1px solid #9d338b;
        width: 90%;
        text-align: center;
        .title {
            background-color: #374249;
            color: white;
            text-align: center;
            font-weight: bold;
        }
        .header {
            font-weight: bold;
            color: #9d338b;
            text-align: center;
        }
    }
    .ionskybooking {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        color: #9d338b;
        font-size: 0.9em;
        font-weight: bold;
        vertical-align: top;
        img {
            width: 18px;
            float: left;
        }
    }
    .item-select select {
        left: 0;
        max-width: 90%;
        width: 90%;
        text-align: left;
        direction: ltr;
        background-color: #efeff5;
    }
    .item-input .icon {
        min-width: 14px;
    }
    .item-icon-right .icon {
        right: -2px !important;
        img {
            float: right;
            width: 100%;
        }
    }
}

.view-container {
    z-index: 9 !important;
}

.bar-stable.bar.bar-header {
    background-color: transparent !important;
}

.backdrop {
    background-color: rgba(255, 255, 255, 0.2);
}

.ionskywallet .spendings.activated.nohover {
    background-color: transparent !important;
}

.ionskywallet .item:nth-child(even).spendings.activated.nohover {
    background-color: #e6e6e6 !important;
}

.ionskywallet .item:nth-child(even).spendings.activated {
    background-color: transparent !important;
}

.right.dashboard {
    text-align: right;
}